{% extends './decision.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container-fluid">
<div class="row">
	<div class="col-md-12">
<div class="card my-4">
<div class="card-body">
	<button class="btn btn-primary my-2" style="float:right"  data-bs-toggle="modal" data-bs-target="#Modial">Votre Avis</button>

<table class="table align-middle mb-0 table-responsive text-center w-100 table-responsive-xl">
	<thead class="bg-dark">
	  <tr>
		<th class="text-light" style="width:25%">R:&nbsp;&nbsp;{{operation.personnel}}</th>
		<th class="text-light" style="width:25%">A:&nbsp;&nbsp; {{operation.accountable}}</th>
		<th class="text-light" style="width:25%">C:&nbsp;&nbsp; {{operation.consulted}}</th>
		<th class="text-light" style="width:25%">I: &nbsp;&nbsp;{{operation.informed}}</th>
		
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<td>
		  <div class="d-flex align-items-center">
			<img
				src="{{ operation.personnel.photo.url }}"
				alt=""
				style="width: 45px; height: 45px"
				class="rounded-circle"
				/>
				&nbsp;&nbsp;
			<div class="ms-3">
			 
			  <p class="text-muted mb-0">{{operation.personnel.mail}}</p>
			</div>
		  </div>
		</td>
		<td>
			<div class="d-flex align-items-center">
				<img
					src="{{ operation.accountable.photo.url }}"
					alt=""
					style="width: 45px; height: 45px"
					class="rounded-circle"
					/>
					&nbsp;&nbsp;
					<div class="ms-3">
			
			<p class="text-muted mb-0">{{operation.accountable.mail}}</p>
					</div>
				</div>
		</td>
		<td>
		  
			<div class="d-flex align-items-center">
				<img
					src="{{ operation.consulted.photo.url }}"
					alt=""
					style="width: 45px; height: 45px"
					class="rounded-circle"
					/>
					&nbsp;&nbsp;
					<div class="ms-3">
			
			<p class="text-muted mb-0">{{operation.consulted}}</p>
					</div>
				</div>
		</td>
		<td>
			<div class="d-flex align-items-center">
				<img
					src="{{ operation.informed.photo.url }}"
					alt=""
					style="width: 45px; height: 45px"
					class="rounded-circle"
					/>
					&nbsp;&nbsp;
					<div class="ms-3">
		
			<p class="text-muted mb-0">{{operation.informed}}</p>
					</div>
				</div>
		</td>
		
	  </tr>
	
	 
	</tbody>
  </table>

<div class="card">
	<div class="card-body">



<div class="col-12 mt-5">
<h6  style=" font-weight:bold;text-transform:uppercase; font-weight:bold;font-family:quartz" class="text-center text-primary">HISTORISATION DE L'OP&eacute;ration</h6>
<!-- <div class="modal fade" id="Modial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" class="text-primaly" style="font-family:quartz">Soumettez  Votre Avis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
          <!-- <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
	  <div class="modal fade" id="Modial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Soumettez  Votre Avis</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
	  
      <div class="modal-body">
       										<form method="POST" action="/consult_oper/" enctype="multipart/form-data">
										{% csrf_token %}
<label style="font-weight:bold;font-family:quartz" class="text-primary">Attachez Votre Fichier</label>
										<input type="file" class="form-control" name="file">
										<input type="hidden" name="operation_rapport" value="{{operation_rapport.id}}">
										<input type="hidden" name="operation" value="{{operation.id}}">
										
									<h5 style="font-weight:bold" style="font-weight:bold;font-family:quartz"class="text-danger"> Votre Avis *</h5>

      </div>
<div>
										<textarea class="form-control mx-3" name="observations"  rows="4" style="width: 95%;"></textarea>
																			

								</div>	

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="Submit" class="btn btn-primary">Envoyer</button>
      </div>
</form>
    </div>
  </div>
</div>
<table class="table table-hover table-responsive-xl text-center" style="width:100%">
<caption style="font-weight:bold;text-transform:uppercase">operation affect&eacute;e {{operation.date_creation|naturaltime}}</caption>
  <thead class="bg-dark ">
    <tr>
      <th style="width:25%" class="text-light">Date</th>
   <th style="width:25%" class="text-light">Responsables</th>
      <th style="width:25%" class="text-light">Commentaires</th>

   
   	<th style="width:25%" class="text-light">Fichiers Joints</th>
    </tr>
  </thead>
  <tbody>

{% for operation_historics in operation_historic%}
{%if operation_historics.m_operation_id == operation.id%}
    <tr>
	
     <td>{{operation_historics.m_date_realisation}}</td>
{%if operation_historics.m_role == "A"%}
<td class="text-danger" style="font-weight:bold">

{{operation_historics.m_role}}:
Accountable
</td>
{%elif operation_historics.m_role == "R"%}
<td class="text-primary" style="font-weight:bold">

{{operation_historics.m_role}}
Responsible
</td>
{%elif operation_historics.m_role == "C"%}
<td class="text-warning" style="font-weight:bold">

{{operation_historics.m_role}}:
Consulted
</td>
{%elif operation_historics.m_role == "I"%}
<td class="text-danger" style="font-weight:bold">

{{operation_historics.m_role}}:
Informed
</td>

{%endif%}

     <td style="font-weight:bold">{{operation_historics.m_commentaire}}</td>
     <td>
<a href="/operation_file/{{ operation_historics.id }}">
{{operation_historics.file}}</a>

{%comment%}
{%if operation_historics.m_role == "R"%}
{% if actual_institution.default_options == True %}

										{% else %}
										{% for elt in operation_rapport.aggregate_values %}
										<div class="d-flex my-2">
										
												{% if elt.type == 'file' %}
												{% if elt.value.m_file != None and elt.value.m_file != "" %}
													<div>
														<a href="{{elt.value.m_file.url}}"><i class="fas fa-file"></i>
														{{elt.value.m_file}}</a>
													</div>
												{% endif %}
											
												
																								{% endif %}
											</div>
										{% endfor %}

										{% endif %}
{%else%}

{% endif %}
{%endcomment%}
</td>
     
{%endif%}
{%empty%}
	<td colspan="3">
	<h6 style="font-weight:bold" class="text-center text-danger" >Aucun Historique Pour L'instant</h6>

	</td>
    </tr>
{%endfor%}
     </tbody>
</table>
</div>
	</div>
</div							
</div>
</div>
									{%comment%}									
<div class="starDiv d-flex">
										<div>
											<i data-id="1" class="fas fa-star"></i>
										</div>

										<div>
											<i data-id="2" class="fas fa-star"></i>
										</div>
										<div>
											<i data-id="3" class="fas fa-star"></i>
										</div>
										<div>
											<i data-id="4" class="fas fa-star"></i>
										</div>
										<div>
											<i data-id="5" class="fas fa-star"></i>
										</div>
									</div>
{%endcomment%}
									

{% endblock %}
