<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>
        
        {%block title%}
        MboaMarket
        {%endblock%}
    </title>
</head>
<body>

    <nav class="flex items-center justify-between flex-wrap bg-gradient-to-r from-green-400 via-yellow-400 to-red-500 p-4 md:p-6">
        <!-- Logo -->
        <div class="flex items-center flex-shrink-0 text-white mr-4">
        
          <span class="font-semibold text-xl tracking-tight">MBOAMARKET</span>
        </div>
        
        <!-- Menu mobile -->
      <!-- bouton menu -->
<div class="block lg:hidden">
    <button id="menu-toggle" class="flex items-center px-3 py-2 border rounded text-white border-white hover:bg-white hover:text-teal-500">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
        <!-- Liens -->
        <div id="mobile-menu" class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden">
            <div class="text-sm lg:flex lg:flex-grow">
              <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-gray-200 mr-4">
                Acceuil
              </a>
              <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-gray-200 mr-4">
                Boutiques
              </a>
             
            </div>
            <div>
              <a href="/log/1/" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:bg-white hover:text-teal-500 mt-4 lg:mt-0">
                Deconnexion
              </a>
            </div>
          </div>
      </nav>

      <div class="grid grid-cols-2 gap-6 my-6 p-6 sm:grid-cols-3 lg:grid-cols-5">
        <!-- Card 1: Groupes Boutiques -->
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <div class="relative group">
                <div class="overflow-hidden aspect-w-1 aspect-h-1">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:scale-125" src="{%static 'market.jpeg'%}" alt="" />
                </div>
                <div class="absolute left-3 top-3">
                    <p class="sm:px-3 sm:py-1.5 px-1.5 py-1 text-[8px] sm:text-xs font-bold tracking-wide text-gray-900 uppercase bg-white rounded-full">Gestion Des Groupes</p>
                </div>
                <div class="flex items-start justify-between mt-4 space-x-4">
                    <div>
                        <h3 class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">
                            <a href="/groupe_boutique/" title="">
                            Creer,Modifier Et Supprimer des groupes de boutiques
                                <span class="absolute inset-0" aria-hidden="true"></span>
                            </a>
                        </h3>
                       
                    </div>

                    
                </div>
            </div>
        </div>
      
        <!-- Card 2: Gestion Des Villes -->
     
          <!-- <img class="w-full" src="{% static 'ville.jpeg' %}" alt="Villes">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Gestion Des Villes</div>
            <p class="text-gray-700 text-base">
              Créer, Modifier, Supprimer des villes
            </p>
          </div> -->
          <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <div class="relative group">
                <div class="overflow-hidden aspect-w-1 aspect-h-1">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:scale-125" src="{%static 'ville.jpeg'%}" alt="" />
                </div>
                <div class="absolute left-3 top-3">
                    <p class="sm:px-3 sm:py-1.5 px-1.5 py-1 text-[8px] sm:text-xs font-bold tracking-wide text-gray-900 uppercase bg-white rounded-full">Gestion Des villes</p>
                </div>
                <div class="flex items-start justify-between mt-4 space-x-4">
                    <div>
                        <h3 class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">
                            <a href="/villes/" title="">
                            Creer,Modifier Et Supprimer les Villes
                                <span class="absolute inset-0" aria-hidden="true"></span>
                            </a>
                        </h3>
                       
                    </div>

                    
                </div>
            </div>
        </div>
     
    
            <!-- <img class="w-full" src="{% static 'rubrique.jpeg' %}" alt="Villes">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Gestion Des Rubriques</div>
              <a class="text-gray-700 text-base"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Créer, Modifier, Supprimer Les rubriques
              </a>
            </div> -->
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <div class="relative group">
                    <div class="overflow-hidden aspect-w-1 aspect-h-1">
                        <img class="object-cover w-full h-full transition-all duration-300 group-hover:scale-125" src="{%static 'rubrique.jpeg'%}" alt="" />
                    </div>
                    <div class="absolute left-3 top-3">
                        <p class="sm:px-3 sm:py-1.5 px-1.5 py-1 text-[8px] sm:text-xs font-bold tracking-wide text-gray-900 uppercase bg-white rounded-full">Gestion Des Rubriques</p>
                    </div>
                    <div class="flex items-start justify-between mt-4 space-x-4">
                        <div>
                            <h3 class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">
                                <a href="/rubriques/" title="">
                                Creer,Modifier Et Supprimer les Rubriques
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                </a>
                            </h3>
                          
                        </div>
    
                        
                    </div>
                </div>
          </div>
       
            <!-- <img class="w-full" src="{% static 'market.jpeg' %}" alt="Villes">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Gestion Des Sous-Rubriques</div>
              <p class="text-gray-700 text-base">
                Créer, Modifier, Supprimer Les Sous-rubriques
              </p>
            </div> -->
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <div class="relative group">
                    <div class="overflow-hidden aspect-w-1 aspect-h-1">
                        <img class="object-cover w-full h-full transition-all duration-300 group-hover:scale-125" src="{%static 'rubrique.jpeg'%}" alt="" />
                    </div>
                    <div class="absolute left-3 top-3">
                        <p class="sm:px-3 sm:py-1.5 px-1.5 py-1 text-[8px] sm:text-xs font-bold tracking-wide text-gray-900 uppercase bg-white rounded-full">Gestion Des sous rubriques</p>
                    </div>
                    <div class="flex items-start justify-between mt-4 space-x-4">
                        <div>
                            <h3 class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">
                                <a href="" title="">
                                Creer,Modifier Et Supprimer les Sous-Rubriques
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                </a>
                            </h3>
                           
                        </div>
    
                        
                    </div>
                </div>
          </div>
          <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <!-- <img class="w-full" src="{% static 'boutique.jpeg' %}" alt="Villes">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Gestion Des Boutiques</div>
              <p class="text-gray-700 text-base">
                Créer, Modifier, Supprimer Les Boutiques
              </p>
            </div>
          </div> -->
          <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <div class="relative group">
                <div class="overflow-hidden aspect-w-1 aspect-h-1">
                    <img class="object-cover w-full h-full transition-all duration-300 group-hover:scale-125" src="{%static 'boutique.jpeg'%}" alt="" />
                </div>
                <div class="absolute left-3 top-3">
                    <p class="sm:px-3 sm:py-1.5 px-1.5 py-1 text-[8px] sm:text-xs font-bold tracking-wide text-gray-900 uppercase bg-white rounded-full">Gestion Des boutiques</p>
                </div>
                <div class="flex items-start justify-between mt-4 space-x-4">
                    <div>
                        <h3 class="text-xs font-bold text-gray-900 sm:text-sm md:text-base">
                            <a href="/all_market/" title="">
                            Creer,Modifier Et Supprimer les boutiques
                                <span class="absolute inset-0" aria-hidden="true"></span>
                            </a>
                        </h3>
                       
                    </div>

                    
                </div>
            </div>
      </div>
      </div>
      </div>
{%block content%}

{%endblock%}
    <script>
        document.getElementById('menu-toggle').addEventListener('click', function() {
          const menu = document.getElementById('mobile-menu');
          menu.classList.toggle('hidden');
        });
      </script>
</body>
</html>