{%extends './dataelts.html'%}

{%block content%}
<div class="container">
	
	<div class="card my-3">
		<div class="card-body">
			<div class="card-title">
				<h5 style="font-weight: bold;">MISE A JOUR DU DATAELEMENT {{dataelts.m_name}}</h5>
			</div>

		
		<form id="survey-form" method="POST" action="/edit_data/{{dataelts.id}}">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label id="name-label" for="name">Nom De L&eacute;lement de donn&eacute;e</label>
						<input type="text" name="nom_donne" id="name" placeholder="nom de l'element de donnée " class="form-control" required value="{{ dataelts.m_name }}">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label id="name1-label" for="name1">Type de Données 
							<span class="badge badge-info">	{{dataelts.m_value_type}}</span>
						</label>
						<select class="form-control" name="data_eltype">
						
							<option value="Number" selected>Num&eacute;rique</option>
							<option value="Texte">Texte</option>
							<option value="Date">Date</option>
							
							
						
						</select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label id="number-label" for="number">Nature Des Donn&eacute;s

							<span class="badge badge-info">{{dataelts.m_domain_type}}</span>
						</label>
	
					<select class="form-control" name="nature_donne">
						<option value="Aggregate">Aggregat</option>
					</select>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label>Aggregation
							<span class="badge badge-info">{{dataelts.m_aggregation_type}}</span>
						</label>
						<select id="dropdown" name="aggregation" class="form-control">
							{%if dataelts.m_aggregation_type == 's'%}
							<option value="s" selected>Somme</option>
							<option value="a " >Moyenne</option>
							<option value="M">Max</option>
							<option value="m" >Minimum</option>
							<option value="d" >Date</option>
							{%elif dataelts.m_aggregation_type == 'a'%}
							<option value="a " selected>Moyenne</option>
							<option value="s" >Somme</option>
							<option value="d" >Date</option>
							
							<option value="M">Max</option>
							<option value="m" >Minimum</option>
							{%elif dataelts.m_aggregation_type == 'M'%}
							<option value="M" selected>Max</option>
							<option value="s" >Somme</option>
							<option value="a " >Moyenne</option>
							<option value="d" >Date</option>
							<option value="m" >Minimum</option>
							{%else%}
							<option value="m" selected>Minimum</option>
							<option value="s" >Somme</option>
							<option value="a " >Moyenne</option>
							<option value="M">Max</option>
							<option value="d" >Date</option>
							
							{%endif%}
								
							
								
					
						</select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Options</label>
						<div class="custom-control custom-radio custom-control-inline">
						
							{%if dataelts.is_zero_collect is True%}
							<input type="checkbox" id="customRadioInline1"  name="valeur_null" class="custom-control-input" checked>
							{%endif%}
							<label class="custom-control-label" for="customRadioInline1">Garder Les Valeurs Nulles</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="checkbox" id="customRadioInline2"  name="valeur_default" class="custom-control-input">
							<label class="custom-control-label" for="customRadioInline2">Garder Les Valeurs Par D&eacute;faut</label>
						</div>
						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>Description</label>
						<textarea  id="comments" class="form-control" name="comment" placeholder="Commentaire..........">{{ dataelts.m_description }}</textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>Valeur Par D&eacute;faut</label>
						{% comment %} <textarea  id="comments" class="form-control" name="comment" placeholder="Commentaire.........." value="{{ dataelts.m_description }}"></textarea> {% endcomment %}
					<input type="number" class="form-control" value="0" name="default_value"/>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>Nicename</label>
						
					<input type="text" class="form-control" value="{{dataelts.nicename}}" name='nicename'/>
					</div>
				</div>
			</div>
			

	
	</div>	
	<div class="card-footer">
		<div class="row">
			<div class="col-md-4">
				<button type="submit"  class="btn btn-primary btn-block">Mise A Jour</button>
			</div>
		</div>
	</div>
</form>
</div>
</div>	
</div>	
{% endblock %}