
<style>  
	#loadingIndicator {  
		display: none; /* Masquer par défaut */  
		position: fixed;  
		top: 50%;  
		left: 50%;  
		transform: translate(-50%, -50%);  
		color:white;
		border: 1px solid #ccc;  
		padding: 10px;  
		background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		z-index: 1000;  
	}  
	/* Styles supplémentaires ici */  
</style>  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.1.4/sweetalert2.min.css">  
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
 
{% extends './decision.html' %}
{% load static %}
{% load humanize %}
{% block main_content %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <div class="nav-align-top my-2">
          <ul class="nav nav-pills flex-column flex-md-row mb-2">
            {%for data_operation in data_operations%}
            <li class="nav-item">
              <a class="nav-link btn btn-light" href="/loaddata_set/{{data_operation.id}}/{{operation.id}}/">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v240h-80v-200H520v-200H240v640h360v80H240Zm638 15L760-183v89h-80v-226h226v80h-90l118 118-56 57Zm-638-95v-640 640Z"/></svg>&nbsp;
          
                {{data_operation.m_name}}</a>
            </li>
            {%endfor%}
          
          </ul>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="card-header">
                <h5 class="mb-1">Responsabilit&eacute;s De L'operation {{operation.nom}}</h5>
                <p class="my-0 card-subtitle">Les Responsables Pour Cette Operation</p>
              </div>
              <div class="card-body">
                <div class="d-flex mb-4 align-items-center">
                  <div class="flex-shrink-0">
                    <img  
                    src="{% if operation.personnel.photo %}{{ operation.personnel.photo.url }}{% else %}{% static 'version/images.jpeg' %}{% endif %}"  
                    alt=""  
                    style="width: 50px; height: 45px"  
                    class="rounded-circle"  
                />
                  </div>
                  <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                    <div class="mb-sm-0 mb-2">
                      <h6 class="mb-0">Responsible</h6>
                      <small>{{operation.personnel}}</small>
                    </div>
                    
                  </div>
                </div>
                <div class="d-flex mb-4 align-items-center">
                  <div class="flex-shrink-0">
                    <img  
                    src="{% if operation.accountable.photo %}{{ operation.personnel.photo.url }}{% else %}{% static 'version/images.jpeg' %}{% endif %}"  
                    alt=""  
                    style="width: 50px; height: 45px"  
                    class="rounded-circle"  
                />
                    <!-- <img src="../assets/img/icons/brands/slack.png" alt="slack" class="me-4" height="32"> -->
                  </div>
                  <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                    <div class="mb-sm-0 mb-2">
                      <h6 class="mb-0">Accountable</h6>
                      <small>{{operation.accountable}}</small>
                    </div>
                    
                  </div>
                </div>
                <div class="d-flex mb-4 align-items-center">
                  <div class="flex-shrink-0">
                    <img  
                    src="{% if operation.consulted.photo %}{{ operation.personnel.photo.url }}{% else %}{% static 'version/images.jpeg' %}{% endif %}"  
                    alt=""  
                    style="width: 50px; height: 45px"  
                    class="rounded-circle"  
                />
                    <!-- <img src="../assets/img/icons/brands/github.png" alt="github" class="me-4" height="32"> -->
                  </div>
                  <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                    <div class="mb-sm-0 mb-2">
                      <h6 class="mb-0">Consulted</h6>
                      <small>{{operation.consulted}}</small>
                    </div>
                   
                  </div>
                </div>
                <div class="d-flex mb-4 align-items-center">
                  <div class="flex-shrink-0">
                    <img  
                    src="{% if operation.informed.photo %}{{ operation.personnel.photo.url }}{% else %}{% static 'version/images.jpeg' %}{% endif %}"  
                    alt=""  
                    style="width: 50px; height: 45px"  
                    class="rounded-circle"  
                />
                    <!-- <img src="../assets/img/icons/brands/mailchimp.png" alt="mailchimp" class="me-4" height="32"> -->
                  </div>
                  <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                    <div class="mb-sm-0 mb-2">
                      <h6 class="mb-0">Infornmed</h6>
                      <small>{{operation.informed}}</small>
                    </div>
                   
                  </div>
                </div>
               
                <!-- /Connections -->
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="card-header">
                <h5 class="mb-1">Informations</h5>
                <p class="my-0 card-subtitle">Informations Sur L'operation</p>
              </div>
              <div class="card-body">
                <!-- Social Accounts -->
                <div class="col-lg-12 ">
                    <div class="p-2">
                        {% if actual_institution.default_options == True %}

                        {% else %}
                        {% for elt in operation_rapport.aggregate_values %}
                        <div class="d-flex my-2">
                            <div class="pr-2 ">{{elt.label}} : </div>
                                {% if elt.type == 'file' %}
                                {% if elt.value.m_file != None and elt.value.m_file != "" %}
                                    <div>
                                        <a href="{{elt.value.m_file.url}}"><i class="fas fa-file"></i>
                                        {{elt.value.m_file}}</a>
                                    </div>
                                {% endif %}
                                {% elif elt.type == 'image' %}
                                {% if elt.value.m_file != None and elt.value.m_file != "" %}
                                <div>
                                    <img src="{{elt.value.m_file.url}}" style="width:80px;height:80px;">
                                </div>
                                {% endif %}
                                {% elif elt.type == 'choix' %}
                                <div>
                                    {% for e in elt.extras_repported %}
                                        {% if e.state == '1' %}<div class="text-success d-flex"> <div><i class="fas fa-check"></i></div> <div class="value_liner pl-2">{{e.label}}</div> </div>
                                        {% else %}<div class="text-danger d-flex"> <div> <i class="fas fa-times">	</i> </div> <div class="value_liner pl-2">{{e.label}}</div> </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>Soumi
                                {% else %}
                                <div class="value_liner text-success">{{elt.value}}</div> 
                                {% endif %}
                            </div>
                        {% endfor %}

                        {% endif %}
                        <div class="my-2"> Soumis le <span class="text-success"> {{operation_rapport.date_created}}</span></div>


                        <div> Par <span class="text-success"> {{operation_rapport.personnel}} </span></div>
                    </div>
                        {% if operation_rapport.m_commentaire != None %}
                        
                            <h5 style="font-weight: bold; font-family: forte;">Compte Rendu</h5>
                              <div class="">
                                  {{operation_rapport.m_commentaire}}
                              </div>
                       

                          {% endif %}									
                    {% if operation.accountable.bd_user == user %}
                    <div class="my-2">
                        <button data-bs-target="#validOperModal" data-operation="{{operation}}" data-personnel="{{operation.personnel}}" data-id="{{operation.id}}" data-bs-toggle="modal" onclick="validerTache(this);" class="opera_valider btn btn-success" style="font-weight:bold;text-transform:uppercase"> Valider </button>
                        <button data-bs-target="#annulerOperModal" data-bs-toggle="modal" data-id="{{operation.id}}" data-rapport="{% if operation.tech_rapports.first != None %}{{operation.tech_rapports.first.id}}{% endif %}" onclick="annulerTache(this)" class="btn btn-danger" style="font-weight:bold;text-transform:uppercase"> Rejeter </button>
                    
                                                
</div>
                    {% endif %}

              </div>
            </div>
          </div>
        </div>
				</div>
							</div>
                            </div>
                            <div class="modal fade bd-example-modal-xl" id="validOperModal" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Valider Rapport</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                          </button>
                                      </div>
                                      <div class="modal-body">
                                       
                                            <form action='/valid_rapport/' method="POST" ENCTYPE="multipart/form-data">
                                                {% csrf_token %}
                            
                                                {% if operation_rapport != None %}
                                                <div>
                                                    <input type="hidden" value="{{operation_rapport.id}}" name="operation_rapport" >
                                                </div>
                                                {% endif %}
                            
                                                <div class="">
                                                    <p>
                                                        <div style="text-transform:uppercase;" class="h5">Vous Validez le Rapport sur l'Operation <b id='opera_valider_title' class="text-success"> </b> ?</div>
                                                        <div class="mb-3">
                            
                                                            <label>Un Commentaire à associer ?</label>
                                                            <textarea rows='5' name="opera_valider_comment" class="form-control"></textarea>
                                                        {% if actual_institution.default_options == True %}
                            
                                                                    {% else %}
                                                                    {% for elt in operation_rapport.aggregate_values %}
                                                                    <div class="d-flex my-2">
                                                                        <div class="pr-2 ">{{elt.label}} : </div>
                                                                            {% if elt.type == 'file' %}
                                                                            {% if elt.value.m_file != None and elt.value.m_file != "" %}
                                    <input type="text" name="file" value="{{elt.value.m_file}}" class="form-control">
                                                                                <div>
                            
                            
                            
                                                                                </a>
                                                                                </div>
                                                                            {% endif %}
                                                                            {% elif elt.type == 'image' %}
                                                                            {% if elt.value.m_file != None and elt.value.m_file != "" %}
                                                                            <div>
                                                                                <img src="{{elt.value.m_file.url}}" style="width:80px;height:80px;">
                                                                            </div>
                                                                            {% endif %}
                                                                            {% elif elt.type == 'choix' %}
                                                                            <div>
                                                                                {% for e in elt.extras_repported %}
                                                                                    {% if e.state == '1' %}<div class="text-success d-flex"> <div><i class="fas fa-check"></i></div> <div class="value_liner pl-2">{{e.label}}</div> </div>
                                                                                    {% else %}<div class="text-danger d-flex"> <div> <i class="fas fa-times">	</i> </div> <div class="value_liner pl-2">{{e.label}}</div> </div>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </div>Soumi
                                                                            {% else %}
                                                                            <div class="value_liner text-success">{{elt.value}}</div>
                                                                            {% endif %}
                                                                        </div>
                                                                    {% endfor %}
                            
                                                                    {% endif %}
                                                                    <input type="hidden" name="operation_id" value="{{operation.id}}">
                                                                      <!-- <input type="date" name="date_fin" id="" class="form-control"> -->
                                                                    <label for="Montant Validé" class="text-danger">Montant Validé {{ operation.montant3|floatformat:2 }}</label>
                                                                    <input type="number" name="montant2" value="{{ operation.montant3|floatformat }}" class="form-control" style="float:right">
                                                                    <p style="font-style:italic">Les contacts Inser&eacute;s seront Inform&eacute;s Par SMS Apres Resolution De Leurs Problemes</p>
                                                                    <hr class="bg-dark p-2"/>

                                                                    <label for="TypeNotification">Mode Notification</label>
                                                                    <select name="mode_notification" id="mode" class="form-control">
                                                                      <option value="SMS">SMS & Email</option>
                                                                      <!-- <option value="EMAIL">EMAIL</option> -->
                                                                      <!-- <option value="EMAIL & SMS">EMAIL & SMS</option> -->
                                                                    </select>
                                                                    <div id="accordionIcon" class="accordion accordion-without-arrow my-2">
                                                                      <div class="accordion-item card">
                                                                        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconOne">
                                                                          <button type="button" class="accordion-button collapsed btn btn-danger" data-bs-toggle="collapse" data-bs-target="#accordionIcon-1" aria-controls="accordionIcon-1">
                                                                            Informations De Feedback (Le feedback sera fait Par Email Et Sms ). Cliquez Pour Visualiser Ces Adresses
                                                                          </button>
                                                                        </h2>
                                                                    
                                                                        <div id="accordionIcon-1" class="accordion-collapse collapse" data-bs-parent="#accordionIcon">
                                                                          <div class="accordion-body">
                                                                            <label>Numero Du Feed-Back</label>
                                                                            <input type="number" class="form-control" name="numero" value="{{operation.informed.tel}}"/>
                                                                            <label for="email">Email Du Feedback</label>
                                                                            <input type="email" class="form-control" name="email" value="{{operation.informed.mail}}">
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    
                                                                      
                                                                    
                                                                    
                                                                    </div>
                                                                   
                                                                    <label>Categories D'op&eacute;rations</label>
                                                                    <select class="form-control" name="categorie">
                                                                      {%for categorie in categorie_operation%}
                                                                        <option value="{{categorie.id}}">{{categorie.intitule}}</option>
                                                                        {%endfor%}
                                                                    </select>


                                                                    <label>Natures D'op&eacute;rations</label>
                                                                    <select class="form-control" name="nature">
                                                                      {%for nature in nature_operation%}
                                                                        <option value="{{nature.id}}">{{nature.intitule}}</option>
                                                                        {%endfor%}
                                                                    </select>
                                                                
                                                                </div>
                                                        <div>
                            
                                                            <input type="hidden" id="opera_valider_id" name="opera_valider_id" value="{{operation.id}}">
                                                            <button type="submit" class="btn btn-success" style="float: right;">valider</button>
                                                                                        </div>
                                                    </p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal fade bd-example-modal-xl" id="annulerOperModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Invalider Le Rapport</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                          </button>
                                      </div>
                                      <div class="modal-body">
                                            <form action='/in_valid_rapport/' method="POST">
                                                {% csrf_token %}
                            
                                                {% if operation_rapport != None %}
                                                <div>
                                                    <input type="text" value="{{operation_rapport.id}}" name="operation_rapport" style="display: none;">
                                                </div>
                                                {% endif %}
                                                <div class="">
                                                    <p>
                                                        <div style="text-transform:uppercase;" class="h5">Vous Invalidez le Rapport sur l'Operation <b id='opera_invalider_title' class="text-success"> </b> ?</div>
                                                        <div>
                                                            <input type="text" id="opera_invalider_id" name="opera_invalider_id" value="{{operation.id}}" style="display: none;">
                                                            <input type="text" name="opera_invalider_rapport" id="opera_invalider_rapport" value="{{operation.id}}" style="display: none;">
                            
                                                                                        </div>
                                                        <div>
                                                            <label>Veuillez associer un Commentaire Svp</label>
                                                            <textarea rows='5' required name="opera_invalider_comment" class="form-control"></textarea>
                                                        </div>
                                                    </p>
                                                </div>
                            <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Rejeter</button>
                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card my-4">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h5 style="font-weight:bold;font-family:forte">Historique De L'operation</h5>
                                    </div>
                                    <table class="table align-middle mb-0 bg-white">
                                        <thead class="bg-light">
                                          <tr>
                                            <th>Identifiant</th>
                                            <th>Date</th>
                                         
                                            <th>Commentaires</th>
                                            <th>Fichier Joint</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                      {% for operation_historics in operation_historic%}
                                      {%if operation.id  == operation_historics.m_operation_id%}
                                          <tr>
                                            <td>
                                      
                                              <div class="d-flex align-items-center">
                                                <img
                                                    src="{{operation.personnel.photo.url}}"
                                                    alt=""
                                                    style="width: 45px; height: 45px"
                                                    class="rounded-circle"
                                                    />
                                      
                                                <div class="ms-3">
                                                  <p class="fw-bold mb-1">{{operation.personnel}}</p>
                                                  <p class="text-muted mb-0">{{operation.personnel.mail}}</p>
                                                </div>
                                              </div>
                                      
                                      
                                            </td>
                                            <td>
                                              <p class="fw-normal mb-1">{{operation_historics.m_date_realisation}}</p>
                                              <p class="text-muted mb-0">{{operation_historics.m_date_realisation|naturaltime}}</p>
                                            </td>
                                         
                                            <td>{{operation_historics.m_commentaire}}</td>
                                            <td>
                                              <a href="{{operation_historics.value.file.url}}"type="button" class="btn btn-link btn-sm btn-rounded">
                                             {{operation_historics.file}}
                                              </a>
                                            </td>
                                          </tr>
                                      {%endif%}
                                      {%endfor%}
                                            </tbody>
                                      </table>		
                                </div>
                            </div>
								</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
						
	$(document).ready(function() {
	  $('#annee').on('change', function() {
		var selectedId = $(this).val();
	  
		// Effectuer une requête AJAX pour récupérer les informations de la table periodeok en fonction de l'ID de la période sélectionnée
		$.ajax({
		url: '/search_period/',  // L'URL correspondant à la vue Django
		method: 'GET',
		data: { annee: selectedId },
		success: function(data) {
		  var selectInformations = $('#period');
		  selectInformations.empty(); // Effacer les anciennes options
	  
		  // Ajouter les nouvelles options basées sur les données récupérées via AJAX
		  data.forEach(function(periode_ok_id) {
		  selectInformations.append($('<option>', {
			value: periode_ok_id.id,
			text: periode_ok_id.nom  // Remplacez 'champ1' par le nom du champ que vous souhaitez afficher
		  }));
		  });
		},
		error: function(xhr, status, error) {
		  console.error('Une erreur s\'est produite lors de la requête AJAX :', status, error);
		}
		});
	  });
	  });
	  
	  </script>





   
{% endblock %}
