
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<style type="text/css">
  .hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}
</style>
{% extends './entities.html' %}
{% load static %}
{% load humanize %}
{% block add_title %}
Archives et Historique
{% endblock %}

{% block search_filters %}



{% endblock %}


{% block print_bar %}

{% endblock %}


{% block content %}

{% comment %} {% block documenter %}
<form method="POST" class="pb-3" action="/history/dates/">
  {% csrf_token %}
  <div class="row d-flex flex-wrap">
    <div class="col-lg-3 col-md-4 col-6">
      <label> Filtrer du : </label>
      <input type="date" {% if start_date != None %} value="{{start_date}}" required {% endif %}  class="form-control" name="start_date">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <label> Jusqu'au : </label>
      <input type="date" {% if end_date != None %} value="{{end_date}}" required {% endif %} class="form-control" name="end_date">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <label> &nbsp;<br> </label>
      <div><input type="submit" class="btn btn-success" value="Filtrer"></div>
    </div>
  </div>
</form>
{% endblock %} {% endcomment %}
{% comment %} {% if nb_lines > 0 %}
<div class="my-2">
  <button type="button" onclick="launchPDF(15)" class="btn btn-danger" >
    <b>Archivage des Travaux</b> <i class="fas fa-file-pdf"></i>
  </button>
</div>
{% endif %}
<div class="container">


</div> {% endcomment %}
    {% comment %} {% if nb_lines > 0 %}
    <table class="table table-hover display dataTable no-footer" id="tache" style="width:100%;" role="grid" aria-describedby="datatable_info">
      <thead>
        {% block fields %}
        <tr role="row">
          {% for th in fields %}
          <th class="sorting" tabindex="0" aria-controls="tache"  aria-label="Tache: activate to sort column ascending" style="">
            {{th}}
            <span>
              <i class="fas fa-angle-up"></i>
              <i class="fas fa-angle-down"></i>
            </span>
          </th>
          {% endfor %}
        </tr>
        {% endblock %}
      </thead>
      <tbody id='table_body'>
        {% if actual_institution.default_options == True %}
        {% for line in pages_o %}
        <tr>
         <td>{{line.operation.tache}}</td>
         <td class='bg-light'>{{line.operation}}</td>
         <td>{{line.operation.personnel}}</td>
         <td><a href="{{line.piece_jointe.url}}"> <i class="fas fa-file"></i>&nbsp;{{line}}</a></td>
         <td class=""><b>{{line.date_creation}}</b></td>
         <!-- <td></td> -->
       </tr>
       {% endfor %}
       {% else %}
       {% for line in pages_o %}
       <tr id='tache'>
        <td>{{line.tache}}</td>
        <td class='bg-light'>{{line}}</td>
        {% for val in line.values_spl2 %}
        <td class="value_liner replace_n">{{val}}</td>
        {% empty %}
        <td class="value_liner replace_n"></td>
        {% endfor %}
        <td><span>{{line.personnel}}</span></td>
        <td><a href="{{line.piece_jointe.url}}"> <i class="fas fa-file"></i>&nbsp;{{line}}</a></td>
        <td class=""><b>{{line.date_creation}}</b></td>
        <!-- <td></td> -->
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
    </table>
    {% else %}
    <div class="mt-5">
      <div class="h3 text-center">Vous n'avez actuellement aucune T&acirc;che &acirc;  suivre l'&eacute;volution.</div>
    </div>
    {% endif %} {% endcomment %}


<h6 style="font-weight:bold;text-transform:uppercase;" class="text-center"> Op&eacute;rations Globales Archiv&eacute;es De L'institution {{actual_institution}}
  <h6>

<div class="row">
<div class="col-md-12">
<div class="card p-1">
<div card-title>
<h5 class="text-primary my-2 text-center" style="font-weight:bold">
Criteres De Recherche
</h5>
</div>
<div class="card-body">
<div class="row">
<div class="col-md-4">
<label style="font-weight:bold" class="text-danger">Nom Operation</label>
<input type="search" class="form-control p-2 my-2" id="search" placeholder="recherchez Vos Operations Effectuees">
</div>
<div class="col-md-4">
<label style="font-weight:bold" class="text-danger">Date Soumission</label>
<input type="date" class="form-control p-2 my-2" placeholder="recherchez Vos Operations Effectuees" id="date_soumission">
</div>
<div class="col-md-4">
<label style="font-weight:bold" class="text-danger">Responsable Realisation</label>
<select class="form-control my-2" id="filter_personnel">
<option>Selectionnez Le Responsible</option>
{%for personnels in personnel%}
<option>{{personnels.nom}}</option>
{%endfor%}
</select>
</div>
</div>
</div>


    {%if operation|length_is:'0'%}
            <div style="display: flex; align-items: center; justify-content: center;">

                      <img src="{% static 'webpages/images.jpeg' %}" style="margin-right: 10px;">
                      <h4 class="text-danger" style="font-family: quartz">Aucun Document En Attente D'archivage Pour Le Moment</h4>
                  </div>
    {%else%}

  {%for operations in operation%}
{%for operation_rapports in operation_rapport%}
{%if operations.id == operation_rapports.operation_id%}


   <table class="table align-middle mb-0 bg-white text-center">
  <thead class="bg-primary text-light">
    <tr >
      <th>Responsable Operation</th>
      <th>Nom Operation</th>
      <th>Commentaire</th>

      <th>Rapport</th>
      <th>Archivage</th>
    </tr>
  </thead>
  <tbody>
    <tr {% if operation_rapports.etat == 1 %}class="table-secondary"{% endif %}>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="{% if operations.personnel.photo == '47774_frHGCVr.png' and operations.personnel.sexe == 'M' %}
            {% static 'webpages/ctn_bpf/M.png' %}
          {% elif operations.personnel.photo == '47774_frHGCVr.png' and operations.personnel.sexe == 'F' %}
            {% static 'webpages/ctn_bpf/F.jpg' %}
          {% elif operations.personnel.photo != '47774_frHGCVr.png' %}
            {{ operations.personnel.photo.url }}
          {% elif operations.personnel.photo == '47774_frHGCVr.png' and not operations.personnel.sexe %}
            {% static 'webpages/ctn_bpf/icons8-sad-64.png' %}
          {% endif %}"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{operations.personnel.nom}}</p>
            <p class="text-muted mb-0">{{operations.personnel.mail}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">{{operations.nom}} </p>

      </td>
      <td>
        {{operation_rapports.commentaire}}
      </td>

      <td>
       <!--  {%for operation_rapports in operation_rapport%}
      {%if operations.id == operation_rapports.operation_id %}
        <a class="btn btn-warning text-light text-center  mx-4" href="/view/file/{{operation_rapports.id}}" id="telechargerRapportBtn">T&eacute;lecharger Rapport</a>
        {%else%}

           {%endif%}
         {%endfor%} -->
                    <div class="btn-group mr-2 mb-md-0 mb-3">
                        <button class="btn btn-dark  dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pieces Jointes</button>

                        <div class="dropdown-menu">
                           {%for operation_rapports in operation_rapport%}
                           {%if operations.id == operation_rapports.operation_id %}
                            <a class="dropdown-item" href="#" style="font-weight: bold; font-style: italic;text-decoration: underline">Rapport Du {{operation_rapports.date_creation}}:<a href="/view/file/{{operation_rapports.id}}" class="text-danger"> {{operation_rapports.piece_jointe}}</a></a>

                            {%endif%}
                            {%endfor%}
                        </div>
                    </div>
      </td>
      <td>
        {%if operation_rapports.etat == 1%}
          <h6 class="text-danger" style="font-family:quartz">D&eacute;ja Archiv&eacute;</h6>

          {%else%}
          <a type="button" name="button" class="btn btn-dark" href="/archive_operation_rapports/{{operation_rapports.id}}">Archiver</a>

        {%endif%}
          
        </td>
    </tr>
    <tr>

  </tbody>
</table>
{%endif%}
{%endfor%}
{%endfor%}

{%endif%}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#search').on('input', function() {
        var searchText = $(this).val().toLowerCase();
        var found = false;

        $('.table tbody tr').each(function() {
            var operationName = $(this).find('td:nth-child(2)').text().toLowerCase();
            if (operationName.includes(searchText)) {
                $(this).show();
                found = true;
            } else {
                $(this).hide();
            }
        });

        if (found) {
            $('.table thead').show();
        } else {
            $('.table thead').hide();
        }
    });
});

</script>
<script type="text/javascript">

$(document).ready(function() {
    $('#search').on('input', function() {
        var searchText = $(this).val().toLowerCase();
        var found = false;

        $('.table').each(function() {
            var operationName = $(this).find('td:nth-child(2) p').text().toLowerCase();
            if (operationName.includes(searchText)) {
                $(this).show();
                found = true;
            } else {
                $(this).hide();
            }
        });

        if (found) {
            $('.table thead').show();
        } else {
            $('.table thead').hide();
        }
    });

    $('#filter_personnel').on('change', function() {
        var selectedPersonnel = $(this).val();

        $('.table').each(function() {
            var personnelName = $(this).find('td:first-child p').text();

            if (selectedPersonnel === 'Selectionnez Le Responsible' || personnelName.includes(selectedPersonnel)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });
});
</script>


<script type="text/javascript">
 $(document).ready(function() {
    $('#search').on('input', function() {
        var searchText = $(this).val().toLowerCase();

        $('.table').each(function() {
            var operationName = $(this).find('td:nth-child(2) p').text().toLowerCase();
            var creationDate = new Date($(this).find('td:nth-child(4)').text()).toLocaleString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit' }).toLowerCase();

            if (operationName.includes(searchText) || creationDate.includes(searchText)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

    $('#filter_personnel').on('change', function() {
        var selectedPersonnel = $(this).val();

        $('.table').each(function() {
            var personnelName = $(this).find('td:first-child p').text();

            if (selectedPersonnel === 'Selectionnez Le Responsible' || personnelName.includes(selectedPersonnel)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

$('#date_soumission').on('change', function() {
  var selectedDate = new Date($(this).val()).toLocaleString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric' }).toLowerCase();

  console.log("Date sélectionnée:", selectedDate);

  $('.table').each(function() {
    var creationDateStr = $(this).find('td:nth-child(4)').text(); // Get date text from 4th <td>

    // Option 1: Match Original Format (modify regex to match your table's format)
    var creationDate = new Date(creationDateStr.replace(/(\d{2}) (\w+) (\d{4}).*/, '$1 $2 $3')).toLocaleString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric' }).toLowerCase();

    // Option 2: Moment.js Library (requires Moment.js installation)
    // var creationDate = moment(creationDateStr, 'your_original_date_format').format('DD MMMM YYYY');

    // Option 3: Alternative Parsing (if regex or library not feasible)
    // var dateParts = creationDateStr.split(' ');
    // var creationDate = new Date(dateParts[2], monthNames.indexOf(dateParts[1]), dateParts[0]);

    console.log("Date de création dans le tableau:", creationDate);

    if (creationDate.includes(selectedDate)) {
      $(this).show();
    } else {
      $(this).hide();
    }
  });
});

});
</script>

<script type="text/javascript">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
  // custom.js

  $(document).ready(function() {
    $('#categorie').on('change', function() {
      var selectedId = $(this).val();

      // Effectuer une requête AJAX pour récupérer les informations de la table periodeok en fonction de l'ID de la période sélectionnée
      $.ajax({
        url: '/search_categorie/',  // L'URL correspondant à la vue Django
        method: 'GET',
        data: { id: selectedId },
        success: function(data) {
          var selectInformations = $('#sous_categorie');
          selectInformations.empty(); // Effacer les anciennes options

          // Ajouter les nouvelles options basées sur les données récupérées via AJAX
          data.forEach(function(ind) {
            selectInformations.append($('<option>', {
              value: ind.id,
              text: ind.nom  // Remplacez 'champ1' par le nom du champ que vous souhaitez afficher
            }));
          });
        },
        error: function(xhr, status, error) {
          console.error('Une erreur s\'est produite lors de la requête AJAX :', status, error);
        }
      });
    });
  });



</script>
{% endblock %}
