<style>
  /* Définition de l'animation de rotation de la Terre */
  @keyframes rotate-earth {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* Application de l'animation à l'image */
  .rotate-earth {
    animation: rotate-earth 60s linear infinite; /* Fait tourner l'image indéfiniment sur une durée de 60 secondes */
  }
</style>
{% extends './index.html' %}
{% load static %}

{% block add_title %}
Gestionnaire de {{type_entity}}
{% endblock %}

{% block content %}
<div class="btn h1 text-center">
  <b style="color:#aaa;" class="actu_date"></b>
</div>
{% if permissions > 0 %}
<div class="p-5 d-flex align-items-center">

  <img src="{%static 'webpages/images.jpeg'%}" alt="" class="rotate-image">
  <h5>Nous Vous Souhaitons La Bienvenue <b class="text-danger">{{prenom}} {{nom}}</b> </h5>
	<div class="h4 text-center text-danger" style="font-family:quartz">
Vous n'avez pas encore conçu de plan de travail concernant Opera+</div>
</div>
<div class="text-center d-flex justify-content-center"><a style="width:270px;" class="title_div p-2 text-center text-white card bg-success btn-rounded rounded" href="/gestionnaire/0/"> Créer {{top_entity}} </a></div>

{% else %}
<div class="p-5">
  <div class="h2 text-center"> Rien n'a encore pu etre assigne pour l'instant</div>
</div>
{% endif %}

{% endblock %}
