<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position:fixed;z-index:100;width:100vw;height:60px;">
    <div class="container-fluid">
        <!-- Logo et nom de l'institution -->
        <a href="/" class="navbar-brand d-flex align-items-center">
            <img src="{{ actual_institution.img.url }}" style="width:40px;height:40px;border-radius:100%;" alt="Logo" class="mr-4">
            <!-- <span class="btn d-none d-md-inline ms-2 text-light" style="text-transform:capitalize;font-family:quartz;">{{ actual_institution.nom }}</span> -->
            <span class="text-light">{{ actual_institution.sigle }}</span>
        </a>

        <!-- Bouton de bascule pour les écrans mobiles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-7">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenu de la barre de navigation -->
        <div class="collapse navbar-collapse " id="navbar-ex-7">
            <!-- Liens à gauche (vide dans votre cas) -->
            <div class="navbar-nav me-auto "></div>

            <!-- Liens à droite -->
            <ul class="navbar-nav ms-auto">
                <!-- Notifications -->
                <li class="nav-item mt-4">
                    <a class="nav-link badge badge-light bg-light text-success" href="/alert_notifs/0/0/">
                        <i class="fas fa-envelope"></i>
                        {% for operation_s in operation_m %}
                            {% if operation_s.etat == "0" and request.user.personnel == operation_s.personnel and operation_s.m_institution_id == actual_institution.id %}
                                {% if operation_s.delai_restant == "Le délai est écoulé !" %}
                                    <i class="fa fa-star fa-spin text-danger"></i>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <span class="badge text-dark">R</span>
                        <span class="badge badge-primary count_to_done2">0</span>
                    </a>
                </li>
                &nbsp; &nbsp;
                <li class="nav-item mt-4">
                    <a class="nav-link badge badge-light bg-light text-danger" href="/alert_notifs/0/1/">
                        <i class="fas fa-envelope"></i>
                        {% for operation_detail in operation_details %}
                            {% if operation_detail.etat == "1" and operation_detail.m_institution_id == actual_institution and operation_detail.m_operation.accountable_id == request.user.personnel.id %}
                                <i class="fa fa-star fa-spin"></i>
                            {% endif %}
                        {% endfor %}
                        <span class="badge text-dark">A</span>
                        <span class="badge badge-danger count_is_observ">0</span>
                    </a>
                </li>
                &nbsp; &nbsp;
                <li class="nav-item mt-4">
                    <a class="nav-link badge badge-light text-primary bg-light" href="/tache_consulted">
                        <i class="fas fa-envelope"></i>
                        <span class="badge text-dark">C</span>
                        <span class="badge badge-info" id="regroup_consulted">0</span>
                    </a>
                </li>
                &nbsp; &nbsp;
                <li class="nav-item mt-4">
                    <a class="nav-link badge badge-light text-warning bg-light" href="/alert_notifs/0/3/">
                        <i class="fas fa-envelope"></i>
                        <span class="badge text-dark">I</span>
                        <span class="badge badge-warning" id="count_informed">0</span>
                    </a>
                </li>

                <!-- Icône de menu -->
                <li class="nav-item mt-2">
                    <a class="nav-link" data-toggle="modal" href="#menuAppModal" id="rotateLink">
                        <svg id="icon" xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="24px" fill="#AAC1F0">
                            <path d="M666-440 440-666l226-226 226 226-226 226Zm-546-80v-320h320v320H120Zm400 400v-320h320v320H520Zm-400 0v-320h320v320H120Zm80-480h160v-160H200v160Zm467 48 113-113-113-113-113 113 113 113Zm-67 352h160v-160H600v160Zm-400 0h160v-160H200v160Zm160-400Zm194-65ZM360-360Zm240 0Z"/>
                        </svg>
                    </a>
                </li>

                <!-- Menu déroulant utilisateur -->
                <li class="nav-item dropdown mt-2">
                    <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="avatar avatar-online">
                            <img src="{% static 'profil.png' %}" alt="" class="w-px-40 h-auto rounded-circle">
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar avatar-online">
                                            <img src="{% static 'profil.png' %}" alt="" class="w-px-40 h-auto rounded-circle">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0">{{ request.user.username }}</h6>
                                        <small class="text-muted">{{ request.user.email }}</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider my-1"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/profile/">
                                <i class="bx bx-user bx-md me-3"></i><span>Profil</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/institution/">
                                <i class="bx bx-cog bx-md me-3"></i><span>Institutions</span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider my-1"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/log/1/">
                                <i class="bx bx-power-off bx-md me-3"></i><span>Déconnexion</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>