{% extends './specific_log.html' %}
{% load static %}

{% block add_content %}
<div xmlns="http://www.w3.org/1999/html">
	<!-- <div>
		<span class="text-danger"> Mot de Passe Oublié </span>
	</div> -->

</div>
<div class='cta-inner section-inner'>
	<p class="text-secondary">
		 Veuillez Définir Votre Nouveau Password
	</p>
    <form method="post" action="/save_password">
                {%csrf_token%}
	<div class="pt-4 d-flex justify-content-center">


		<div class="text-center col-md-6">
			<label class="text-center "> Nouveau Password</label>
			<input placeholder="Saisissez Votre nouveau"  class="form-control"type="password" class="form-control" name="password">
            <label class="text-center "> Confirmer Password</label>
			<input placeholder="confirmer Nouveau Password"  class="form-control"type="password" class="form-control" name="retyppassword">
		
        </div>

	</div>
	<div class="pt-2">
		<button  class="btn btn-primary" type="submit"> valider</button>
	</div>
    </form>
</div>


{% endblock %}

{% block section_footer %}

{% endblock %}


{% block special_script %}



{% endblock %}