
{% extends './dataelts.html'%}

{% load static %}
{% load humanize %}
{% block content %}
<div class="container-fluid">  
    <div class="row">  
        <div class="col-md-12">  
           


            <hr class="bg-dark p-2"/>
            <h5 style="font-weight:bold; margin-left:5%;" class="">Vous Avez La Possibilit&eacute;e De Modifier   {{operation.nom}}</h5>
<div class="card">	
<div class="card-body">
  <div class="card-title">
    <h5 style="font-weight: bold;"> Mise A Jour {{operation.nom}}</h5>
  </div>

  

<form method="POST" action="/add_cat_nat/{{ operation.id }}/">
                {%csrf_token%}

                <label>Code Operation</label>
                <input type="text" name="code" class="form-control" value="{{ operation.code }}">

                <label>Etat Operation</label>
                <input type="number" name="etat" class="form-control" value="{{ operation.etat }}">
                <label>Nom Operation</label>
                <input type="text" name="nom" class="form-control" value="{{ operation.nom }}">
                {%if actual_institution.nature != False%}
                <div class="row">

                <div class="col-md-12 ">
 
       
                    <label>   Nature De L'op&eacute;ration </label>
                        <select name="nature" class="form-control">
                            <option ></option>
                            {%for natures in nature%}
                            {%if natures.id == operation.nature_operation_id%}
                            <option value="{{ natures.id }}" selected>{{natures.intitule}}</option>
                            {%else%}
                            <option value="{{ natures.id }}">{{natures.intitule}}</option>
                        
                            {%endif%}
                            {%endfor%}
                        </select>
                
                
                </div>

                    {%endif%}
                    {%if actual_institution.categorie_op != False%}

                    <div class="col-md-12 ">
                        
                        
                    <label>     Categorie De L'op&eacute;ration</label>
                            <select name="categorie" class="form-control">
                                <option ></option>
                                {%for categorie_operations in categorie_operation%}
                                {%if categorie_operations.id == operation.categorie_id%}
                                <option value="{{ categorie_operations.id }}" selected>{{categorie_operations.intitule}}</option>
                                {%else%}
                                <option value="{{ categorie_operations.id }}">{{categorie_operations.intitule}}</option>
                            
                                {%endif%}
                                {%endfor%}
                            </select>
                    

                    </div>
                    {%if actual_institution.formulaire != False%}
                    <div class="col-md-12">
                        <label style="font-weight: bold; font-family: forte;">   Choix Du Formulaire De Saisie </label><br>
                        
                    
                        
                        {% for operations_datasets in operation_dataset %}
                        <label>
                            <input type="checkbox" id="linked-{{ operations_datasets.id }}" name="dataset" value="{{ operations_datasets.id }}" class="toggle-public" checked>
                            <div class="btn btn-sık"><span>{{ operations_datasets.m_name }}</span></div>
                        </label>
                        {% endfor %}
                        
                        {% for dataset_None_operations in dataset_None_operation %}
                        <label>
                            <input type="checkbox" name="dataset" value="{{ dataset_None_operations.id }}" class="toggle-public" id="unlinked-{{ dataset_None_operations.id }}">
                            <div class="btn btn-sık"><span>{{ dataset_None_operations.m_name }}</span></div>
                        </label>
                        {% endfor %}
                                </div>
                                {%endif%}
                                <div class="col-md-12">
                               
                    
                        
                    </div>
                    <div class="col-md-12">
                    <label>Annee</label>
                    <select class="form-control" name="annee">
                        <option></option>
                        {%for periode_oks in periode_ok%}
                                {%if periode_oks.id == operation.periode_ok_id%}
                                        <option value="{{ periode_oks.annee }}" selected>{{periode_oks.annee}}</option>
                                        <!-- {%else%}
                                        <option value="{{ periode_oks.annee }}" >{{periode_oks.annee}}</option> -->
                                {%endif%}
                        {%endfor%}
                    </select>
                    </div>
                    <div class="col-md-12">
                    <label>Mois</label>
                    <select class="form-control" name="mois">
                    <option></option>
                        {%for periode_oks in periode_ok%}
                                {%if operation.periode_ok_id == periode_oks.id%}
                                        <option value="{{ periode_oks.id }}" selected>{{periode_oks.nom}}</option>
                                        <!-- {%else%}
                                        <option value="{{ periode_oks.id }}" >{{periode_oks.nom}}</option> -->
                                {%endif%}
                        {%endfor%}
                    </select>
                    </div>
                    <div class="col-md-12">
                    <label>Structure</label>
                    <select class="form-control" name="structure">
                        <option></option>
                        {%for structures in structure%}
                                {%if operation.structure_id == structures.id%}
                                        <option value="{{ structures.id }}" selected>{{structures.nom}}</option>
                                        {%else%}
                                        <option value="{{ structures.id }}" >{{structures.nom}}</option>
                                {%endif%}
                        {%endfor%}
                    </select>
                    </div>
                    <div class="col-md-12">
             

                    <button type="button" class="btn btn-light text-nowrap d-inline-flex position-relative me-4 my-3">
                      PRINCIPAL RESPONSABLE
                      <span class="position-absolute top-0 start-100 translate-middle badge badge-center rounded-pill bg-primary text-white">R</span>
                    </button>
                    <select class="form-control" name="personnel">
                        <option></option>
                        {%for personnes in personne%}
                                {%if operation.personnel_id == personnes.id%}
                                        <option value="{{ personnes.id }}" selected>{{personnes.get_structure}} - {{personnes.nom}}</option>
                                        {%else%}
                                        <option value="{{ personnes.id }}" >{{personnes.get_structure}} - {{personnes.nom}}</option>
                                {%endif%}
                        {%endfor%}
                    </select>
                    </div>
                    <div class="col-md-12">
                  
                      <button type="button" class="btn btn-primary text-nowrap d-inline-flex position-relative me-4 my-3">
                        ACCOUNTABLE
                        <span class="position-absolute top-0 start-100 translate-middle badge badge-center rounded-pill bg-primary text-white">A</span>
                      </button>
                    <select class="form-control" name="accountable">
                        <option></option>
                        {%for personnes in personne%}
                                {%if operation.accountable_id == personnes.id%}
                                        <option value="{{ personnes.id }}" selected>{{personnes.get_structure}} - {{personnes.nom}}</option>
                                        {%else%}
                                        <option value="{{ personnes.id }}" >{{personnes.get_structure}} - {{personnes.nom}}</option>
                                {%endif%}
                        {%endfor%}
                    </select>
                    </div>
                    <div class="col-md-12">
                  
                      <button type="button" class="btn btn-primary text-nowrap d-inline-flex position-relative me-4 my-3">
                        CONSULTED
                        <span class="position-absolute top-0 start-100 translate-middle badge badge-center rounded-pill bg-primary text-white">C</span>
                      </button>
                    <select class="form-control" name="consulted">
                        <option></option>
                        {%for personnes in personne%}
                                {%if operation.consulted_id == personnes.id%}
                                        <option value="{{ personnes.id }}" selected>{{personnes.get_structure}} - {{personnes.nom}}</option>
                                        {%else%}
                                        <option value="{{ personnes.id }}" >{{personnes.get_structure}} - {{personnes.nom}}</option>
                                {%endif%}
                        {%endfor%}
                    </select>
                    </div>
                    <div class="col-md-12">
                    <!-- <label><span class="badge badge-info my-2">I: INFORMED</span></label> -->
                    <button type="button" class="btn btn-primary text-nowrap d-inline-flex position-relative me-4 my-3">
                      INFORMED
                      <span class="position-absolute top-0 start-100 translate-middle badge badge-center rounded-pill bg-primary text-white">I</span>
                    </button>
                    <select class="form-control" name="informed">
                        <option></option>
                        {%for personnes in personne%}
                                {%if operation.informed_id == personnes.id%}
                                        <option value="{{ personnes.id }}" selected>{{personnes.get_structure}} - {{personnes.nom}}</option>
                                        {%else%}
                                        <option value="{{ personnes.id }}" >{{personnes.get_structure}} - {{personnes.nom}}</option>
                                {%endif%}
                        {%endfor%}
                    </select>
                    </div>
                    <div class="col-md-12">
                        <label>Date Echeance</label>
                        <input type="date" name="date_echeance" class="form-control" value="{{ operation.date_echeance|date:'Y-m-d' }}">
                    </div>
                    <div class="col-md-12">
                      <label>Date Debut</label>
                      <input type="date" name="date_debut" class="form-control" value="{{ operation.date_debut|date:'Y-m-d' }}">
                  </div>
                    {%endif%}
                 
                    </div>

                    </div> 


                    <div class="card-footer">
                    <a type="button" class="btn btn-secondary" href="/">Retour</a>
                    <button type="submit" class="btn btn-primary" >MISE A Jour</button>






                    </div>

                    </div>

                    </div>
                    </div>
                    </div>
                    </div>
                            
                  
</form>







{% for message in messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 {% if message.tags == 'success' %}

<script type="text/javascript">
 Swal.fire({
 position: "top-end",
 icon: "success",
 title: "{{message}}",
 showConfirmButton: false,
 timer: 2000
});
</script>
{%endif%}
{%endfor%}
</script>
{% for message in messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 {% if message.tags == 'error' %}

<script type="text/javascript">
 Swal.fire({
 position: "top-end",
 icon: "error",
 title: "{{message}}",
 showConfirmButton: false,
 timer: 5000
});
</script>
{%endif%}
{%endfor%}



{%endblock%}