{%extends './operations_details.html'%}
{%block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <section class="section profile">
                <div class="row">
                  <div class="col-xl-4">
          
                    <div class="card">
                      <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
          
                        <img src="{{ personnel.photo.url }}" alt="Profile" class="rounded-circle" width="350">
                        <h2> {{personnel.nom}}</h2>
                        <h3>	{{ personnel.actual_institution }}</h3>
                        <div class="social-links mt-2">
                          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                      </div>
                    </div>
          
                  </div>
          
                  <div class="col-xl-8">
          
                    <div class="card">
                      <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">
          
                          <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Informations</button>
                          </li>
          
                          <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false" tabindex="-1" role="tab">Edition Profile</button>
                          </li>
          
                          <!-- <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings" aria-selected="false" tabindex="-1" role="tab">Settings</button>
                          </li> -->
          
                          <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password" aria-selected="false" tabindex="-1" role="tab">Changer Mot De Passe </button>
                          </li>
          
                        </ul>
                        <div class="tab-content pt-2">
          
                          <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">
                            <h5 class="card-title">&Aacute; Propos</h5>
                            <!-- <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p> -->
          
                            <h5 class="card-title">Details Profile </h5>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4 label ">Nom Personnel</div>
                              <div class="col-lg-9 col-md-8">{{personnel.nom}}</div>
                            </div>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4 label">T&eacute;l&eacute;phone</div>
                              <div class="col-lg-9 col-md-8">{{personnel.tel}}</div>
                            </div>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4 label">Email</div>
                              <div class="col-lg-9 col-md-8">{{personnel.mail}}</div>
                            </div>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4 label">Sexe</div>
                              <div class="col-lg-9 col-md-8">{{personnel.sexe}}</div>
                            </div>
          
                           
          
                          </div>
          
                          <div class="tab-pane fade profile-edit pt-3" id="profile-edit" role="tabpanel">
          
                            <!-- Profile Edit Form -->
                            <form method="post" action="/edit_form/{{ personnel.id }}" enctype="multipart/form-data">
                                {%csrf_token%}
                              <div class="row mb-3">
                                <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                <div class="col-md-8 col-lg-9">
                                    <div class="profile-img">
                                        <img src="" id="imagePreview" class="img-responsive">
                                    </div>
                                  
                                </div>
                              </div>
          
                              <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                                <div class="col-md-8 col-lg-9">
                                  <input type="text" class="form-control" id="fullName" name="nom" value="{{ personnel.nom }}">
                                </div>
                              </div>
          
                            
          
                              <div class="row mb-3">
                                <label for="Address" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                <div class="col-md-8 col-lg-9">
                                  <input  type="text" class="form-control" id="Address"  name="mail" value="{{ personnel.mail }}">
                                </div>
                              </div>
          
                              <div class="row mb-3">
                                <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                <div class="col-md-8 col-lg-9">
                                  <input  type="text" class="form-control" id="Phone" name="tel" value="{{ personnel.tel }}">
                                </div>
                              </div>
          
                              <div class="row mb-3">
                                <label for="Email" class="col-md-4 col-lg-3 col-form-label">Prenom</label>
                                <div class="col-md-8 col-lg-9">
                                  <input  type="text" class="form-control" id="Email" name="prenom" value="{{ personnel.prenom}}">
                                </div>
                              </div>
          
                            
          
                              <div class="row mb-3">
                                
                                {% for search in searches %}
                                <tr>
                                    <td>{{search.label}} *</td>
                                    <td>:</td>
                                    <td>
                                       {% if search.values != None %}
                                    <select class="form-control" name="{{search.label}}" id="">
                                    {% for v in search.values %}<option value="{{v.id}}">{{v.nom}}</option>{% endfor %}
                                    </select>
                                    {% endif %}                         
                                    </td>
                                </tr>
                                   {% endfor %}
                              </div>
          
                              <div class="row mb-3">
                                <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Photo</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="file" class="form-control" name="file" id="imageUpload">
                                  <!-- <input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#"> -->
                                </div>
                              </div>
          
                              <div class="text-center">
                                <button type="submit" class="btn btn-primary">Edition</button>
                              </div>
                            </form><!-- End Profile Edit Form -->
          
                          </div>
          
                       
          
                          <div class="tab-pane fade pt-3" id="profile-change-password" role="tabpanel">
                            <!-- Change Password Form -->
                            <form>
          
                              <div class="row mb-3">
                                <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="password" type="password" class="form-control" id="currentPassword">
                                </div>
                              </div>
          
                              <div class="row mb-3">
                                <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="newpassword" type="password" class="form-control" id="newPassword">
                                </div>
                              </div>
          
                              <div class="row mb-3">
                                <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                </div>
                              </div>
          
                              <div class="text-center">
                                <button type="submit" class="btn btn-primary">Changer Mot De Passe</button>
                              </div>
                            </form><!-- End Change Password Form -->
          
                          </div>
          
                        </div><!-- End Bordered Tabs -->
          
                      </div>
                    </div>
          
                  </div>
                </div>
              </section>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function readURL(input) {
  if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
          $('#imagePreview').css('background-image', 'url('+e.target.result +')');
          $('#imagePreview').hide();
          $('#imagePreview').fadeIn(650);
        
      }
      reader.readAsDataURL(input.files[0]);
  }
}
$("#imageUpload").change(function() {
  readURL(this);
});
</script>
{%endblock%}