
{% extends './operations_details.html' %}
{% load static %}




{%block content%}

<div class="container-fluid">
<div class="row">
 <div class="col-md-12">
  <div class="accordion accordion-header-primary my-2" id="accordionStyle1">
    <div class="accordion-item card">
      <h2 class="accordion-header">
        <button type="button" class="accordion-button collapsed btn btn-dark text-light" data-bs-toggle="collapse" data-bs-target="#accordionStyle1-1" aria-expanded="false">
         Ajouter Les Structures
        </button>
      </h2>
    
      <div id="accordionStyle1-1" class="accordion-collapse collapse" data-bs-parent="#accordionStyle1">
        <div class="accordion-body">
          <form method="POST" action="/load_structur/" enctype="multipart/form-data" >
            {%csrf_token%}
             <label for="avatar" style="font-weight: bold;" class="text-danger">Uploader Le Fichier De Structures:</label><br>
             <input type="file"name="file">
             <input type="text" name="institution" value="{{actual_institution.id}}" style="display: none">
             <button class="btn btn-dark" type="submit">Charger Le Fichier</button>
           <a class="btn btn-primary" href="{% static 'Fichier_reference_structure.xlsx'%}">
           <i class="fa fa-download"></i>
            fichier De Reference
           </a>
           
           
           </form>
           
           <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalstructure">
             <i class="fa fa-plus"></i>
             Ajouter Structure</button>
          <!-- Lemon drops chocolate cake gummies carrot cake chupa chups muffin topping. Sesame snaps icing marzipan gummi
          bears macaroon dragée danish caramels powder. Bear claw dragée pastry topping soufflé. Wafer gummi bears
          marshmallow pastry pie. -->
        </div>
      </div>
    </div>
   
   
 
  </div>

  <div class="modal fade" id="exampleModalstructure" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter Des Structures</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
         <form action="/add_structure/"  method="POST" enctype="multipart/form-data">
          
         
          {%csrf_token%}
          <label for="file">Icone</label>
          <input type="file" class="form-control" name="file" id='file'/>
            
          <label for="designation">Designation</label>
          <input type="text" class="form-control" name="designation"/>
          <label for="structure">Nom </label>
          <input type="text" class="form-control" name="structure" id="structure"/>
          <label for="longitude">Longitude </label>
          <input type="text" class="form-control" name="longitude" id="longitude"/>
          <label for="latitude">Latitude </label>
          <input type="text" class="form-control" name="latitude" id="latitude"/>
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
      </form>
      </div>
    </div>
  </div>
         
      <div class="card my-2">
        <div class="card-body">
          <div class="card-title">
            <h5 style="font-weight:bold">Liste Des Structures</h5>
          </div>
        
        <table class="table table-hover">
            <thead>
                <tr>
             
                    <th>Structures Organisationelles</th>
                  
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for line in lines %}
                <div class="modal fade" id="exampleModal{{line.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Associez Une Sous Unit&eacute; A {{line.nom}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          </button>
                      </div>
                    <form class="" action="/add_sub_structure/" method="post" enctype="multipart/form-data">
                    <div class="modal-body">

                        {%csrf_token%}
                          <input type="text" name="structure" value="{{line.id}}" style="display: none;">
                        <label>Nom Sous Structure</label>
                        <input type="text" name="sous_structure" class="form-control">

                          <label>Designation</label>
                          <textarea name="designation" rows="5" cols="20" class="form-control"></textarea>
                        <label class="text-danger">Vous Avez La Possibilité De Charger La liste Des Sous Structures Pour La Structure <b class="text-primary">{{line.nom}}</b><a href="#">(cliquez Ici Pour Telecharger Le Fichier De Reference)</a></label>
                        <input type="file" name="file" class="form-control">
                        <input type="text"name="institution" value="{{ actual_institution.id }}" style="display:none">

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                      <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                      </form>
                  </div>
                </div>
                </div>
                </div>
                {%if line.parent_id is null%}
                <tr>
                   
                    <td>
                        <div class="toggle-content" data-id="{{line.id}}">
                            <div class="d-flex align-items-center">
                              &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;    
                                <i class="fa fa-caret-right mr-2 toggle-btn text-info fa-2x" data-id="{{line.id}}"></i>
                                <a href="#" class="btn btn" data-bs-toggle="modal" data-bs-target="#exampleModal{{line.id}}">{{line.nom}}</a>
                            </div>
                        </div>
                    </td>
                    <td class="rounded-end-bottom">
                      <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="javascript:void(0);" data-id="{{line.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal_Edit{{ line.id }}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                          <a class="dropdown-item" href="/line_delete_structure/{{line.id}}/"><i class="bx bx-trash me-1"></i> Delete</a>
                        </div>
                      </div>
                    </td>
                    <!-- <td>
                      
                        <button data-id="{{line.id}}" type="button" class="btn btn-primary mr-2" data-bs-toggle="modal" data-bs-target="#exampleModal_Edit{{ line.id }}">
                            <i class="fa fa-edit"></i>
                        </button>

                         <a href="/line_delete_structure/{{line.id}}/"> <i class="fa fa-trash"></i></a>  
                        
                    </td> -->
                </tr>
                {%endif%}

                <div class="modal fade" id="exampleModal_Edit{{ line.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mise a Jour {{line.nom}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          </button>
                      </div>
                      <div class="modal-body">
                        ...
                        <form method="POST" action="/edit_structure/{{ line.id }}/">
                          {%csrf_token%}
                          <input type="hidden" value="line.id">
                          <div class="row">
                            <div class="col-md-12">
                              <label>Nom</label>
                              <input type="text" class="form-control" placeholder="nom" value="{{ line.nom }}" name="nom">
                            </div>
                            <div class="col-md-12">
                              <label>Designation</label>
                              <input type="text" class="form-control" placeholder="Designation" value="{{ line.designation }}" name="designation">
                            </div>
                          </div>
                       
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
                <tr class="toggle-content-{{line.id}}" style="display: none; background-color: #f5f5f5;">
                    <td colspan="4">
                        {% if line.children.all %}
                        <table class="table table-sm mt-2">
                            <tbody>
                                {% for sub_line in line.children.all %}
                               
                                <tr style="background-color: #e9e9e9;">
                                    <td>
                                        <div class="toggle-content" data-id="{{sub_line.id}}">
                                            <div class="d-flex align-items-center">
                                                <i class="fa fa-caret-right mr-2 toggle-btn" data-id="{{sub_line.id}}"></i>
                                                <a href="#" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal{{sub_line.id}}">      {{sub_line.nom}}</a>
                                            </div>
                                        </div>
                                    </td>

                                    <div class="modal fade" id="exampleModal{{sub_line.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Associez Des Sous-Structures a {{sub_line.nom}}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                              </button>
                                          </div>
                                          <form class="" action="/add_sub_structure/" method="post" enctype="multipart/form-data">
                                          <div class="modal-body">
                                            {%csrf_token%}
                                              <input type="text" name="structure" value="{{sub_line.id}}" style="display: none;">
                                              <label>Nom Sous Structure</label>
                                              <input type="text" name="sous_structure" class="form-control">

                                                <label>Designation</label>
                                                <textarea name="designation" rows="5" cols="20" class="form-control"></textarea>
                                              <label class="text-danger">Vous Avez La Possibilité De Charger La liste Des Sous Structures Pour La Structure <b class="text-primary">{{sub_line.nom}}</b><a href="#">(cliquez Ici Pour Telecharger Le Fichier De Reference)</a></label>
                                              <input type="file" name="file" class="form-control">
                                              <input type="hidden"name="institution" value="{{ actual_institution.id }}" >

                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                                          </div>
                                        </form>
                                        </div>
                                      </div>
                                    </div>
                                    <td>{{sub_line.designation}}</td>
                                    <td>
                                   <a href="/delete_sub_line/{{ sub_line.id }}/">   <i class="fas fa-trash text-danger"></i></a>
                                     <a>  <i class="fas fa-edit text-primary"></i></a>
                                    </td>
                                </tr>
                                <tr class="toggle-content-{{sub_line.id}}" style="display: none; background-color: #e0e0e0;">
                                    <td colspan="4">
                                        {% if sub_line.children.all %}
                                        <table class="table table-sm mt-2">
                                            <tbody>
                                                {% for sub_sub_line in sub_line.children.all %}
                                                <tr style="background-color: background: #c0392b;  /* fallback for old browsers */
                                                background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
                                                background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                                ">
                                                    <td>
                                                        <div class="toggle-content" data-id="{{sub_sub_line.id}}">
                                                            <div class="d-flex align-items-center">
                                                              &nbsp;&nbsp;    &nbsp;&nbsp;    &nbsp;&nbsp;
                                                                <i class="fa fa-caret-right mr-2 toggle-btn" data-id="{{sub_sub_line.id}}"></i>
                                                               
                                                                <a href="#" class="btn btn-light" data-toggle="modal" data-target="#exampleModal{{sub_sub_line.id}}">{{sub_sub_line.nom}}</a>
                                                            </div>
                                                        </div>
                                                        <div class="modal fade" id="exampleModal{{sub_sub_line.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                          <div class="modal-dialog">
                                                            <div class="modal-content">
                                                              <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Associez Un Element A La Structure <b class="text-primary">{{sub_sub_line.nom}}</b></h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                                </button>
                                                              </div>
                                                              <form class="" action="/add_sub_structure/" method="post" enctype="multipart/form-data">
                                      
                                                              <div class="modal-body">
                                                                ...
                                                                {%csrf_token%}
                                                                <input type="hidden" name="structure" value="{{sub_sub_line.id}}">
                                                                <label>Nom Sous Structure</label>
                                                                <input type="text" name="sous_structure" class="form-control">
                  
                                                                  <label>Designation</label>
                                                                  <textarea name="designation" rows="5" cols="20" class="form-control"></textarea>
                                                                <label class="text-danger">Vous Avez La Possibilité De Charger La liste Des Sous Structures Pour La Structure <b class="text-primary">{{sub_line.nom}}</b><a href="#">(cliquez Ici Pour Telecharger Le Fichier De Reference)</a></label>
                                                                <input type="file" name="file" class="form-control">
                                                                <input type="hidden"name="institution" value="{{ actual_institution.id }}" >

                                                              </div>
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                              </div>
                                                            </form>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </td>
                                                    <td>{{sub_sub_line.designation}}</td>
                                                    <td>
                                                      <a href="/delete_sub_line/{{ sub_sub_line.id }}/">   <i class="fas fa-trash text-light"></i></a>
                                                      <a>  <i class="fas fa-edit text-primary"></i></a>
                                                    </td>
                                                </tr>
                                                
                                                <tr class="toggle-content-{{sub_sub_line.id}}" style="display: none; background-color: #e0e0e0;">
                                                  <td colspan="4">
                                                      {% if sub_sub_line.children.all %}
                                                      <table class="table table-sm mt-2">
                                                          <tbody>
                                                              {% for sub_sub_sub_line in sub_sub_line.children.all %}
                                                              <tr style="background-color: background:background: #C33764;  /* fallback for old browsers */
                                                              background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
                                                              background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                                                               ">
                                                                  <td>
                                                                      <div class="toggle-content" data-id="{{sub_sub_sub_line.id}}">
                                                                          <div class="d-flex align-items-center">
                                                                            &nbsp;&nbsp;    &nbsp;&nbsp;    &nbsp;&nbsp;
                                                                              <i class="fa fa-caret-right mr-2 toggle-btn" data-id="{{sub_sub_sub_line.id}}"></i>
                                                                             
                                                                              <a href="#" class="btn btn-light" data-toggle="modal" data-target="#exampleModal{{sub_sub_sub_line.id}}">{{sub_sub_sub_line.nom}}</a>
                                                                          </div>
                                                                      </div>
                                                                      <div class="modal fade" id="exampleModal{{sub_sub_sub_line.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog">
                                                                          <div class="modal-content">
                                                                            <div class="modal-header">
                                                                              <h5 class="modal-title" id="exampleModalLabel">Associez Un Element A La Structure <b class="text-primary">{{sub_sub_sub_line.nom}}</b></h5>
                                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                              </button>
                                                                            </div>
                                                                            <form class="" action="/add_sub_structure/" method="post" enctype="multipart/form-data">
                                                    
                                                                            <div class="modal-body">
                                                                              ...
                                                                              {%csrf_token%}
                                                                              <input type="hidden" name="structure" value="{{sub_sub_sub_line.id}}">
                                                                              <label>Nom Sous Structure</label>
                                                                              <input type="text" name="sous_structure" class="form-control">
                                
                                                                                <label>Designation</label>
                                                                                <textarea name="designation" rows="5" cols="20" class="form-control"></textarea>
                                                                              <label class="text-danger">Vous Avez La Possibilité De Charger La liste Des Sous Structures Pour La Structure <b class="text-primary">{{sub_sub_line.nom}}</b><a href="#">(cliquez Ici Pour Telecharger Le Fichier De Reference)</a></label>
                                                                              <input type="file" name="file" class="form-control">
                                                                              <input type="hidden"name="institution" value="{{ actual_institution.id }}" >

                                                                            </div>
                                                                            <div class="modal-footer">
                                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                                              <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                                            </div>
                                                                          </form>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                  </td>
                                                                  <td>{{sub_sub_sub_line.designation}}</td>
                                                                  <td>
                                                                    <a href="/delete_sub_line/{{ sub_sub_sub_line.id }}/">   <i class="fas fa-trash text-light"></i></a>
                                                                    <a>  <i class="fas fa-edit text-primary"></i></a>
                                                                  </td>
                                                              </tr>
                                                              
              
              
              
              
              
                                                              
                                                              {% endfor %}
                                                          </tbody>
                                                      </table>
                                                      {% endif %}
                                                  </td>
                                              </tr>
                                              
                                             




                                                
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </td>
                                </tr>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

      </div>
    </div>
                  </div>
                </div>

</div>

</div>
</div>

</div>

</div>
</div>


<div class="modal fade bd-example-modal-xl" id="addActionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div  class="modal-dialog modal-xl">
   <div class="modal-content">
     <div class="modal-header">
       <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
       <h4 class="modal-title" id='modify_title'>Ajouter une {{actual_institution.default_struc_name}} </h4>
       <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">×</span>
       </button>
     </div>

     <div class="modal-body">
       <form enctype="multipart/form-data"  class="form-horizontal bordered-row" action="/save_gestion/" id="addFormAction" data-toggle="validator" role="form" method="post">
         {% csrf_token %}
         <input type='hidden' name='generator' value='s'>
         <input type="hidden" name="edit_or_create" id="edit_or_create" value="c">
         <input type="hidden" name="edit_id" id="edit_id">

         <div class="row">
           <div class="col-sm-12">
             <div class="form-group">
               Logo
               <input type="file" class="form-control" name="logo">
             </div>
           </div>
           <div class="col-sm-12">
             <div class="form-group">
               Nom
               <input type="text" class="form-control" name="nom" id="codeAct" required="">
             </div>
           </div>
           <input type="hidden" name="Institution" value="{{actual_institution.id}}">
           <div class="col-sm-12">
             <div class="form-group">
               D&eacute;signation
               <input type="text" class="form-control" name="designation" id="nomAct" required="">
             </div>
           </div>
           <div class="col-sm-12">
             <div class="form-group">
               Responsable - {{actual_institution.default_struc_name}}
               <select class="form-control" name="responsable" id="nomAct" required="">
                 <option value="0">Par D&eacute;faut</option>
                 {% for perso in personnels %}
                 <option value="{{perso.id}}">{{perso}}</option>
                 {% endfor %}
               </select>
             </div>
           </div>
           {% for s in searches %}
           <div class="col-sm-12">
             <div class="form-group">
               {{s.label}}
               <select name="{{s.label}}" class="form-control">
                 {% for val in s.values %}
                 <option value="{{val.id}}">{{val}}</option>
                 {% endfor %}
               </select>
             </div>
           </div>
           {% endfor %}
         </div>

         <button type="submit" class="btn btn-primary">Enregistrer
         </button>
       </form>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <script> $(document).ready(function() { $('.toggle-btn').click(function() { var dataId = $(this).data('id'); $('.toggle-content-' + dataId).slideToggle(); $(this).toggleClass('fa-caret-right fa-caret-down'); }); }); </script>
       
{% for message in messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 {% if message.tags == 'success' %}

<script type="text/javascript">
 Swal.fire({
 position: "top-end",
 icon: "success",
 title: "{{message}}",
 showConfirmButton: false,
 timer: 2000
});
</script>
{%endif%}
{%endfor%}
</script>
{% for message in messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 {% if message.tags == 'error' %}

<script type="text/javascript">
 Swal.fire({
 position: "top-end",
 icon: "error",
 title: "{{message}}",
 showConfirmButton: false,
 timer: 5000
});
</script>
{%endif%}
{%endfor%}
       {%endblock%}



