
<style>
  .flexcard {

    width: 95%;

    height: 400px;
    border-radius: 20px;
    margin:8px;
  }

  .flexcardNumber {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 10px 0px;
    border-radius: 0px 50px 50px 0px;
    font-family: 'Jost', sans-serif;
    color: white;
    text-shadow: 0px 3px 5px black;
    font-weight: 500;
    font-size: 15px;
    position: relative;
  }

  .flexcardTitle {
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 400;
  }

  .flexcardText {
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-weight: 300;
  }

  .flexcardNumber:before {
    content: '';
    width: 34px;
    height: 90px;
    position: absolute;
    left: -33px;
    top: 0px;
    border-radius: 50px 0px 0px 50px;
    z-index: -1;
  /* background: #95B7A2; *//* background: -webkit-linear-gradient(bottom, #95B7A2, #AED2BC); */
    background: -moz-linear-gradient(bottom, #95B7A2, #AED2BC);
  /* background: linear-gradient(to top, #95B7A2, #AED2BC); */;
  }

  .flexcardNumber:after {
    content: '';
    width: 25px;
    height: 40px;
    position: absolute;
    left: -25px;
    bottom: -40px;
    border-radius: 50px 0px 0px 50px;
    z-index: -1;
  }

  .flex {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
  }

  img.flexcardimgItem {
    width: 50%;
  }

  /* GREEN CARD */

  .flexcardGreen {
    background: #f9fbfa;
    box-shadow: 4px 4px 4px #AED2BC;
  }

  .flexcardNumberGreen {
    background: #FCFCFC;
    background: -webkit-linear-gradient(right, #FCFCFC, #AED2BC);
    background: -moz-linear-gradient(right, #FCFCFC, #AED2BC);
    background: linear-gradient(to left, #FCFCFC, #AED2BC);
    box-shadow: 0px 2px 2px #AED2BC;
  }

  .flexcardNumberGreen:before {
    background: #AED2BC;
  }

  .flexcardNumberGreen:after {
    background: #95b7a2;
  }


  /*flex card red*/
  .flexcardNumberred {
    background: #dc3545;
    background: #dc3545;
    background: #dc3545;
    background: #dc3545;
    box-shadow: 0px 2px 2px #dc3545;
  }

  .flexcardNumberred:before {
    background: #dc3545;
  }

  .flexcardNumberred:after {
    background: #dc3545;
  }

  /* BLUE CARD */

  .flexcardBlue {
    background: #f7ffff;
   box-shadow: 4px 8px 1px #92E8EB;
  }

  .flexcardNumberBlue {
    background: #FDFFFE;
    background: -webkit-linear-gradient(right, #FDFFFE, #92E8EB);
    background: -moz-linear-gradient(right, #FDFFFE, #92E8EB);
    background: linear-gradient(to left, #FDFFFE, #92E8EB);
    box-shadow: 0px 2px 2px #92E8EB;
  }

  .flexcardNumberBlue:before {
    background: #92E8EB;
  }

  .flexcardNumberBlue:after {
    background: #71bdbf;
  }

  /* ORANGE CARD */

  .flexcardOrange {
    background: #fdf8f3;
   box-shadow: 4px -2px 1px #F68404;
  }

  .flexcardNumberOrange {
    background: #FDFFFE;
    background: -webkit-linear-gradient(right, #FDFFFE, #F68404);
    background: -moz-linear-gradient(right, #FDFFFE, #F68404);
    background: linear-gradient(to left, #FDFFFE, #F68404);
    box-shadow: 0px 2px 2px #F68404;
  }

  .flexcardNumberOrange:before {
    background: #F68404;
  }

  .flexcardNumberOrange:after {
    background: #d06f02;
  }

  /* PİNK CARD */

  .flexcardPink {
    background: #fffafd;
    position: relative;
      box-shadow: 2px 2px 1px #F34EAE ;
      border-radius: 20px 20px 0px 20px;
  }
  .flexcardPink:before {
      content: '';
      width: 0px;
      height: 50px;
      /* background: red; */
      position: absolute;
      bottom: 0;
      right: 0;
      border-left: 100px solid transparent;
      border-bottom: 90px solid #F34EAE;
  }
  .flexcardNumberPink {
    background: #FDFFFE;
    background: -webkit-linear-gradient(right, #FDFFFE, #F34EAE);
    background: -moz-linear-gradient(right, #FDFFFE, #F34EAE);
    background: linear-gradient(to left, #FDFFFE, #F34EAE);
    box-shadow: 0px 2px 2px #F34EAE;
  }

  .flexcardNumberPink:before {
    background: #F34EAE;
  }

  .flexcardNumberPink:after {
    background: #d24095;
  }

  /* RESPONSİVE */

/*  @media only screen and (max-width: 800px) {

    .flexcard {
      width: 35%;
      margin-top: 20px;
    }

    img.flexcardimgItem {
      width: 30%;
    }

  }*/

/*  @media only screen and (max-width: 500px) {

    .flexcard {
      width: 70%;
    }


  }*/
  footer {
      display: flex;
      width: 100%;
      justify-content: center;
      margin: 50px;
      font-family: 'Jost', sans-serif;
      font-size: 15px;
  }
/* Style pour la pagination arrondie et centrée */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page-item {
  margin: 0 5px;
  border-radius: 20px; /* Pour obtenir des coins arrondis */
}

.pagination .page-link {
  color: #fff; /* Couleur du texte */
  background-color: #007bff; /* Couleur de fond */
  border-color: #007bff; /* Couleur de la bordure */
}

.pagination .page-link:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
  border-color: #0056b3; /* Couleur de la bordure au survol */
}

</style>

{% extends './operations_details.html' %}
{% load humanize %}
{% load static %}

{% block content %}

<!-- 
<div class="row">
  <div class="col-md-12">
    <img src="{%static 'planif.png'%}" alt="logo valide" width="65" style="float: left;">
    <h5 style="font-weight:bold;font-family:quartz"class="my-4"> Op&eacute;rations Globales Planifi&eacute;es De L'institution {{actual_institution}}
    </h5>
    <button class="btn btn-dark  mx-4" onclick="toggleSearchElements()" style ="float:right"><i class="fa fa-search" ></i> Options De Recherche</button>

  </div>

</div>

<div class="container">
<div class="row">
  <div class="col-md-12">
<div class="card p-1 cardAll">
  <div card-title>
    <h5 class="text-primary my-2 text-center" style="font-weight:bold">
    Criteres De Recherche
    </h5>
  </div>
  <div class="card-body">
<div class="row">
  <div class="col-md-4">
    <label style="font-weight:bold">Nom Operation</label>
<input type="search" class="form-control p-2 my-2" id="search" placeholder="recherchez Vos Operations planifiees">
  </div>
  <div class="col-md-4">
    <label style="font-weight:bold">Date Creation</label>
<input type="date" class="form-control p-2 my-2" id="search">
  </div>
  <div class="col-md-4">
<label style="font-weight:bold">Responsable Realisation</label>
<select class="form-control my-2" id="filter_personnel">
<option>Selectionnez Le Responsible</option>
{%for personnels in personnel%}
<option>{{personnels.nom}}</option>
{%endfor%}
</select>
</div>
</div>
</div>
</div>
</div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong> Op&eacute;rations Globales Planifi&eacute;es</strong> 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Options De Recherche
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <!-- <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
              <div class="row">
                <div class="col-md-4">
                <label style="font-weight:bold">Nom Operation</label>
                <input type="search" class="form-control p-2 my-2" id="search" placeholder="recherchez Vos Operations planifiees">
                </div>
                <div class="col-md-4">
                  <label style="font-weight:bold">Priorit&eacute; Op&eacute;ration</label>
                  <select class="form-control my-2">
                    <option>Normale</option>
                    <option>Haute</option>
                    <option>Basse</option>
                  </select>
                  </div>
                <div class="col-md-4">
                <label style="font-weight:bold">Responsable Realisation</label>
                <select class="form-control my-2" id="filter_personnel">
                  <option>Selectionnez Le Responsible</option>
                  {%for personnels in personnel%}
                  <option>{{personnels.nom}}</option>
                  {%endfor%}
                  </select>
                </div>
                </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  
<div class="row">
    {%for operations in operations_paginated %}



      <div class="col-md-4">
  <div class="flexcard flexcardGreen">
      <div class="flexcardNumber flexcardNumberGreen" style="text-transform: uppercase;text-family:quartz">Responsible: <small>{{operations.personnel.nom}}</small>

      </div>
      <div class="flex flexcardTitle">
<img src="{% if operations.personnel.photo == '47774_frHGCVr.png' and operations.personnel.sexe == 'M' %}
            {% static 'webpages/ctn_bpf/M.png' %}
          {% elif operations.personnel.photo == '47774_frHGCVr.png' and operations.personnel.sexe == 'F' %}
            {% static 'webpages/ctn_bpf/F.jpg' %}
          {% elif operations.personnel.photo != '47774_frHGCVr.png' %}
            {{ operations.personnel.photo.url }}
          {% elif operations.personnel.photo == '47774_frHGCVr.png' and not operations.personnel.sexe %}
            {% static 'webpages/ctn_bpf/icons8-sad-64.png' %}
          {% endif %}"
     alt="avatar" class="flexcardimgItem rounded-circle">
      </div>
      <div class="flex flexcardText"><small style="font-weight: bold;text-transform: uppercase;">{{operations.nom}}</small> </div>
      <div class="flex flexcardImg">

        <button class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal{{ operations.id }}">Commentaire(s)</button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ operations.id }}">Historique(s)</button>
  </div>
</div>

      </div>





    {% comment %}
    ****************************************************************
    ****************************************************************
    ****************************************************************
                  modal Du commentaire d'une operation
    ****************************************************************
    ****************************************************************
    ****************************************************************
    {% endcomment %}


    <div class="modal fade" id="exampleModal{{ operations.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Commentaire</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
    <!-- <div class="modal fade" id="exampleModal{{ operations.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Commentaire Operation<b class="text-primary" style="font-weight:bold"> {{operations.nom}}</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->


          <div class="d-flex flex-wrap text-secondary"> 
            {% for s in operations.tache.sup_hierachie %}
            <div class="px-1"> <a class='tree_link' data-id="{{s.id}}" href="#"><small> {{s}} </small> <small class="text-secondary"> > </small> </a> </div>
            {% endfor %}
            <div class="px-1"> <a class='' data-id="-1" href="/taches/{{operations.tache.id}}/"><small> {{operations.tache}} </small> <small class="text-secondary"> > </small> </a> </div>
          
          </div>
          <div class="modal-body">
             <form method="POST" action="/save_comment/" enctype="multipart/form-data">
                                            {%csrf_token%}
                                        <div class="modal-body">
                                            <label class="text-danger">Votre Commentaire *</label>
                                            <textarea class="form-control"name="commentaire"></textarea>
                                             <label class="text-primary">Attachez Un fichier</label>
                                            <input type="file" class="form-control" name="file">

                                              <label class="text-danger">Destinataire *</label>
                                            <input type="hidden" value='{{ operations.id }}' class="form-control" name="operation_id">

                                           <input type="text" class="form-control" name="role" value="{{ operations.personnel.nom }}" style="display: none">
                                                  <select class="form-control" name="email">
                                                    <option> Selectionnez Le destinataire</option>
                                                      {%for personnels in personnel%}
                                                    <option value="{{personnels.mail}}">{{personnels.mail}}<b class="text-danger" style="font-style: italic;">|{{personnels.nom}}</b></option>
                                                    {%endfor%}
                                                  </select>



                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                          <button type="submit" class="btn btn-primary">Soumettre</button>
                                        </div>
                                    </form>
        </div>
      </div>
    </div>

</div>

    {% comment %}
    ****************************************************************
    ****************************************************************
    ****************************************************************
                  modal Du Historique d'une operation
    ****************************************************************
    ****************************************************************
    ****************************************************************
    {% endcomment %}
    <div class="modal fade" id="staticBackdrop{{ operations.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Historisation de L'operation {{operations.nom}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="d-flex flex-wrap text-secondary"> 
            {% for s in operations.tache.sup_hierachie %}
            <div class="px-1"> <a class='tree_link' data-id="{{s.id}}" href="#"><small> {{s}} </small> <small class="text-secondary"> > </small> </a> </div>
            {% endfor %}
            <div class="px-1"> <a class='' data-id="-1" href="/taches/{{operations.tache.id}}/"><small> {{operations.tache}} </small> <small class="text-secondary"> > </small> </a> </div>
          
          </div>
<!--  
    <div class="modal fade" id="staticBackdrop{{ operations.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Historique de L'operation <b class="text-primary" style="font-weight:bold">{{operations.nom}}</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          <div class="modal-body">
            <table class="table table-center  mb-0  table-responsive w-100 table-responsive">
                                        <thead class="text-center ">
                                          <tr>
                                            <th style="width:25%"><h6>R: Responsible</h6></th>
                                            <th style="width:25%"><h6>A: Accountable</h6></th>
                                            <th style="width:25%"><h6>C: Consulted</h6></th>
                                            <th style="width:25%"><h6>I: Informed</h6></th>

                                          </tr>
                                        </thead>
                                        <tbody class="text-center">
                                          <tr>
                                            <td><div class="d-flex align-items-center">
                                                  <img src="{% if operations.personnel.photo == '47774_frHGCVr.png' and operations.personnel.sexe == 'M' %}
            {% static 'webpages/ctn_bpf/M.png' %}
          {% elif operations.personnel.photo == '47774_frHGCVr.png' and operations.personnel.sexe == 'F' %}
            {% static 'webpages/ctn_bpf/F.jpg' %}
          {% elif operations.personnel.photo != '47774_frHGCVr.png' %}
            {{ operations.personnel.photo.url }}
          {% elif operations.personnel.photo == '47774_frHGCVr.png' and not operations.personnel.sexe %}
            {% static 'webpages/ctn_bpf/icons8-sad-64.png' %}
          {% endif %}"
     alt="avatar" class="img-fluid rounded-circle me-1" width="45" height="45">
                                                    &nbsp;&nbsp;
                                                <div class="ms-3">
                                                  <p class="fw-bold mb-1">{{operations.personnel.nom}}</p>

                                                </div>
                                              </div></td>
                                            <td>
                                              <div class="d-flex align-items-center">
                                                  <img src="{% if operations.accountable.photo == '47774_frHGCVr.png' and operations.accountable.sexe == 'M' %}
            {% static 'webpages/ctn_bpf/M.png' %}
          {% elif operations.accountable.photo == '47774_frHGCVr.png' and operations.accountable.sexe == 'F' %}
            {% static 'webpages/ctn_bpf/F.jpg' %}
          {% elif operations.accountable.photo != '47774_frHGCVr.png' %}
            {{ operations.accountable.photo.url }}
          {% elif operations.accountable.photo == '47774_frHGCVr.png' and not operations.accountable.sexe %}
            {% static 'webpages/ctn_bpf/icons8-sad-64.png' %}
          {% endif %}"
     alt="avatar" class="img-fluid rounded-circle me-1" width="45" height="45">
                                                    &nbsp;&nbsp;
                                                <div class="ms-3">
                                                  <p class="fw-bold mb-1">{{operations.accountable.nom}}</p>

                                                </div>
                                              </div>
                                            </td>
                                            <td>
                                               <div class="d-flex align-items-center">
                                                  <img src="{% if operations.consulted.photo == '47774_frHGCVr.png' and operations.consulted.sexe == 'M' %}
            {% static 'webpages/ctn_bpf/M.png' %}
          {% elif operations.consulted.photo == '47774_frHGCVr.png' and operations.consulted.sexe == 'F' %}
            {% static 'webpages/ctn_bpf/F.jpg' %}
          {% elif operations.consulted.photo != '47774_frHGCVr.png' %}
            {{ operations.consulted.photo.url }}
          {% elif operations.consulted.photo == '47774_frHGCVr.png' and not operations.consulted.sexe %}
            {% static 'webpages/ctn_bpf/icons8-sad-64.png' %}
          {% endif %}"
     alt="avatar" class="img-fluid rounded-circle me-1" width="45" height="45">
                                                    &nbsp;&nbsp;
                                                <div class="ms-3">
                                                  <p class="fw-bold mb-1">{{operations.consulted.nom}}</p>

                                                </div>
                                              </div>
                                            </td>
                                            <td>
                                              <div class="d-flex align-items-center">
                                               <img src="{% if operations.informed.photo == '47774_frHGCVr.png' and operations.informed.sexe == 'M' %}
            {% static 'webpages/ctn_bpf/M.png' %}
          {% elif operations.informed.photo == '47774_frHGCVr.png' and operations.informed.sexe == 'F' %}
            {% static 'webpages/ctn_bpf/F.jpg' %}
          {% elif operations.informed.photo != '47774_frHGCVr.png' %}
            {{ operations.informed.photo.url }}
          {% elif operations.informed.photo == '47774_frHGCVr.png' and not operations.informed.sexe %}
            {% static 'webpages/ctn_bpf/icons8-sad-64.png' %}
          {% endif %}"
     alt="avatar" class="img-fluid rounded-circle me-1" width="45" height="45">
                                                    &nbsp;&nbsp;
                                                <div class="ms-3">
                                                  <p class="fw-bold mb-1">{{operations.informed.nom}}</p>

                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    <hr/>
            <table class="table  mb-0 bg-white table-responsive w-100">
              <thead class="bg-light">
                <tr>
                  <th style="width:25%">Op&eacute;ration Attribu&eacute; &agrave; :</th>
                  <th style="width:25%">Date Affectation</th>
                  <th style="width:25%">Priorit&eacute</th>
                  <th style="width:25%">Ech&eacute;nce</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                        <img src="{% if operations.personnel.photo == '47774_frHGCVr.png' and operations.personnel.sexe == 'M' %}
            {% static 'webpages/ctn_bpf/M.png' %}
          {% elif operations.personnel.photo == '47774_frHGCVr.png' and operations.personnel.sexe == 'F' %}
            {% static 'webpages/ctn_bpf/F.jpg' %}
          {% elif operations.personnel.photo != '47774_frHGCVr.png' %}
            {{ operations.personnel.photo.url }}
          {% elif operations.personnel.photo == '47774_frHGCVr.png' and not operations.personnel.sexe %}
            {% static 'webpages/ctn_bpf/icons8-sad-64.png' %}
          {% endif %}"
     alt="avatar" class="img-fluid rounded-circle me-1" width="45" height="45">
                          &nbsp;&nbsp;
                      <div class="ms-3">
                        <p class="fw-bold mb-1">{{operations.personnel.nom}}</p>
                        <p class="text-muted mb-0">{{operations.personnel.mail}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">{{operations.date_creation}}</p>
                    <p class="text-muted mb-0"> ({{operations.date_creation|naturaltime}})</p>
                  </td>
                  <td>
                    <span class="badge badge-success rounded-pill d-inline">{{operations.priorite}}</span>
                  </td>
                  <td>{{operations.date_echeance}}</td>

                </tr>


              </tbody>
            </table>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne">
                    Historisation
                  </button>
                </h2>
                <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <table  class="table align-middle mb-0 bg-white table-responsive">
                      <thead >
                        <tr>
                          <th style="width:25%">Commentaire(s) Faite(s) Par:</th>
                          <th style="width:25%">Commentaire</th>
                          <th style="width:25%">Date Commentaire</th>
        
                         <th>Fichier Joint</th>
        
                        </tr>
                      </thead>
                      <tbody>
                    {%for operation_historics in operation_historic%}
                    {%if operation_historics.m_operation_id == operations.id%}
                        <tr>
                          <td>
                            <div class="d-flex align-items-center">
                              <img src="{% if operation_historics.m_operation.personnel %}
                    {{ operation_historics.m_operation.personnel.photo.url }}
                  {% elif operation_historics.m_operation.accountable %}
                    {{ operation_historics.m_operation.accountable.photo.url }}
                  {% elif operation_historics.m_operation.consulted %}
                    {{ operation_historics.m_operation.consulted.photo.url }}
                  {% elif operation_historics.m_operation.informed %}
                    {{ operation_historics.m_operation.informed.photo.url }}
        
                  {% elif operation_historics.m_operation.personnel.photo == '47774_frHGCVr.png' or operation_historics.m_operation.accountable.photo == '47774_frHGCVr.png' or operation_historics.m_operation.consulted.photo == '47774_frHGCVr.png' or operation_historics.m_operation.informed.photo == '47774_frHGCVr.png' and not operation_historics.personnel.sexe or not  operation_historics.accountable.sexe or not  operation_historics.consulted.sexe or not operation_historics.informed.sexe %}
                    {% static 'webpages/ctn_bpf/icons8-sad-64.png' %}
                  {% endif %}"
        alt=""
        style="width: 45px; height: 45px"
        class="rounded-circle">
                              <div class="ms-3">
        
                                  <p class="text-muted fw-bold mb-1" style="font-family:quartz"><span class="badge badge-success">{{operation_historics.m_role}}</span></p>
                                <p class="text-muted mb-0" style="font-family:quartz">
                                    {%if operation_historics.m_operation.personnel%}
                                  {{operation_historics.m_operation.personnel.mail}}
                                    {%elif operation_historics.m_operation.accountable%}
                                    {{operation_historics.m_operation.accountable.mail}}
                                    {%elif operation_historics.m_operation.consulted%}
                                    {{operation_historics.m_operation.consulted.mail}}
                                    {%elif operation_historics.m_operation.informed%}
                                    {{operation_historics.m_operation.informed.mail}}
        
                                  {%endif%}
                                </p>
        
                              </div>
                            </div>
                          </td>
                          <td>
                           <p class="fw-normal mb-1"></p>
                            <p class="text-muted mb-0">{{operation_historics.m_commentaire}}</p>
                          </td>
                          <td>
                            <span class="d-inline">{{ operation_historics.m_date_realisation }}</span>
        
                           ({{ operation_historics.m_date_realisation|naturaltime }})
                          </td>
        
                        <td>
                         <a href="/download_files/{{operation_historics.id}}"> {{operation_historics.file}}</a>
                        </td>
                           </tr>
                    {%endif%}
        
                    {%endfor%}
        
                      </tbody>
                    </table>
                    <!-- <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                  </div>
                </div>
              </div>
              
             
            </div>
            <!-- <table  class="table align-middle mb-0 bg-white table-responsive">
              <thead class="bg-danger text-light">
                <tr>
                  <th style="width:25%">Commentaire(s) Faite(s) Par:</th>
                  <th style="width:25%">Commentaire</th>
                  <th style="width:25%">Date Commentaire</th>

                 <th>Fichier Joint</th>

                </tr>
              </thead>
              <tbody>
            {%for operation_historics in operation_historic%}
            {%if operation_historics.m_operation_id == operations.id%}
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="{% if operation_historics.m_operation.personnel %}
            {{ operation_historics.m_operation.personnel.photo.url }}
          {% elif operation_historics.m_operation.accountable %}
            {{ operation_historics.m_operation.accountable.photo.url }}
          {% elif operation_historics.m_operation.consulted %}
            {{ operation_historics.m_operation.consulted.photo.url }}
          {% elif operation_historics.m_operation.informed %}
            {{ operation_historics.m_operation.informed.photo.url }}

          {% elif operation_historics.m_operation.personnel.photo == '47774_frHGCVr.png' or operation_historics.m_operation.accountable.photo == '47774_frHGCVr.png' or operation_historics.m_operation.consulted.photo == '47774_frHGCVr.png' or operation_historics.m_operation.informed.photo == '47774_frHGCVr.png' and not operation_historics.personnel.sexe or not  operation_historics.accountable.sexe or not  operation_historics.consulted.sexe or not operation_historics.informed.sexe %}
            {% static 'webpages/ctn_bpf/icons8-sad-64.png' %}
          {% endif %}"
alt=""
style="width: 45px; height: 45px"
class="rounded-circle">
                      <div class="ms-3">

                          <p class="text-muted fw-bold mb-1" style="font-family:quartz"><span class="badge badge-success">{{operation_historics.m_role}}</span></p>
                        <p class="text-muted mb-0" style="font-family:quartz">
                            {%if operation_historics.m_operation.personnel%}
                          {{operation_historics.m_operation.personnel.mail}}
                            {%elif operation_historics.m_operation.accountable%}
                            {{operation_historics.m_operation.accountable.mail}}
                            {%elif operation_historics.m_operation.consulted%}
                            {{operation_historics.m_operation.consulted.mail}}
                            {%elif operation_historics.m_operation.informed%}
                            {{operation_historics.m_operation.informed.mail}}

                          {%endif%}
                        </p>

                      </div>
                    </div>
                  </td>
                  <td>
                   <p class="fw-normal mb-1"></p>
                    <p class="text-muted mb-0">{{operation_historics.m_commentaire}}</p>
                  </td>
                  <td>
                    <span class="d-inline">{{ operation_historics.m_date_realisation }}</span>

                   ({{ operation_historics.m_date_realisation|naturaltime }})
                  </td>

                <td>
                 <a href="/download_files/{{operation_historics.id}}"> {{operation_historics.file}}</a>
                </td>
                   </tr>
            {%endif%}

            {%endfor%}

              </tbody>
            </table> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

          </div>
        </div>
      </div>
    </div>
    {%endfor%}

</div>
<div class="card-footer">
  <div class="container">
    <ul class="pagination">
        {% if operations_paginated.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">Premier</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ operations_paginated.previous_page_number }}">Précédent</a></li>
        {% endif %}
        <li class="page-item disabled"><span class="page-link">Page {{ operations_paginated.number }} de {{ operations_paginated.paginator.num_pages }}</span></li>
        {% if operations_paginated.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ operations_paginated.next_page_number }}">Suivant</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ operations_paginated.paginator.num_pages }}">Dernier</a></li>
        {% endif %}
    </ul>
</div>
</div>


{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#search').on('input', function() {
        var searchText = $(this).val().toLowerCase();
        $('.flexcard').each(function() {
            var operationName = $(this).find('.flexcardText').text().toLowerCase();
            if (operationName.includes(searchText)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });
});


</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    // Masquer les éléments au chargement de la page
    $('.cardAll').hide();

    // Fonction pour basculer les éléments et changer le texte du bouton
    function toggleSearchElements() {
      $('.cardAll').toggle('slow');
      var buttonText = $('.btn-dark').text();
      if (buttonText.trim() === "Masquer Options De Recherche") {
        $('.btn-dark').text("Afficher Options De Recherche");

      } else {
        $('.btn-dark').text("Masquer Options De Recherche");
      }
    }

    // Attacher la fonction à un événement, par exemple un clic sur un bouton
    $('.btn-dark').click(function() {
      toggleSearchElements();
    });
  });
</script>

{% endblock %}
